.side-bar {
	position: fixed;
	top: 0;
	right: 0;
	width: 20%;
	height: 100%;
	z-index: 50;
	// background: #A0A0A0;

	h2, h1 {
		position: relative;
		text-align: center;
		color: transparentize(white, 0.1);
		padding-bottom: 5px;
		font-size: 170%;

		&:after {
			@extend %pseudo-element;
			@include align-center($vertical: false);
			width: 50%;
			bottom: 0;
			border-bottom: 2px solid transparentize(black, 0.3);
		}
	}

	.scroll-bar {
		position: absolute;
		width: 50%;
		height: 10%;
		right: 25%;
		top: 0;
		// background: yellow;

		&:after, &:before {
			@extend %pseudo-element;
			@include align-center($horizontal: false);
			width: 5px;
			height: 100%;
			// border: 2px solid transparentize(black, 0.3);
			background: transparentize(white, 0.3);
			right: 0;
			top: 0;
			transform: translate(0%, -50%);
		}
	}

	ul {
		list-style-type: none;
		// width: 100%;
		padding-left: 0;
		margin-right: 25%;

		li {
			$transition-param: color 0.5s;
			font-weight: thin;
			text-align: center;
			padding: 9% 9%;
			position: relative;
			cursor: pointer;
			z-index: 5;
			transition: $transition-param;
			font-size: 80%;

			&:hover {
				color: lighten(grey, 30%);
				transition: all 1s;
				text-shadow: transparentize(black, 0.4) 1px 1px 1px;
			}

			&.active {
				color: lighten(grey, 30%);
				cursor: pointer;
				transition: $transition-param;
				text-shadow: transparentize(black, 0.4) 1px 1px 1px;
				// font-size: 110%;
				// padding: 15% 25%;
			}

			&:after, &:before {
				@extend %pseudo-element;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background: transparentize(white, 0.3);
				right: 0;
				top: 0;
			}

			&:after {
				top: 100%; 
			}
			// margin-right: 20px;
		}
	}
}

.underline {
	position: relative;
	$underline-color: lighten(grey, 30%);
	$animation-param: width 0.5s ease-out;

	&:after, &:before {
		@extend %pseudo-element;
		// @include align-center($vertical: false);
		bottom: -5px;
		// width: 120%;
		height: 3px;
		background: $underline-color;
	}

	&:before {
		width: 0%;
		left: -10%;
		transition: $animation-param;
	}

	&:after {
		width: 0%;
		left: 20%;
		transition: $animation-param;
	}

	&.animate {
		
		&:before {
			width: 30%;
			transition: $animation-param;
		}

		&:after {
			width: 90%;
			transition: $animation-param;
		}
	}
}

@media screen and (max-width: 1000px) {
	.side-bar {
		width: 30%;
	}
}

@media screen and (max-width: 420px) {
	.side-bar {
		display: none;
	}
}