body {
  margin: 0;
  background: #f3e5f5;
  overflow-x: hidden; }

main {
  width: 100vw; }
  @media screen and (max-width: 1000px) {
    main {
      margin-top: 15%; } }
  @media screen and (max-width: 420px) {
    main {
      margin-top: 25%; } }
  main h1 {
    font-family: "Lobster", sans-serif;
    font-size: 3.25em;
    text-align: center;
    color: #4e2155; }
    @media screen and (max-width: 420px) {
      main h1 {
        font-size: 2.5em; } }
    @media screen and (max-width: 320px) {
      main h1 {
        font-size: 2em; } }
  main .description {
    margin: 0% 4%;
    padding: 0;
    text-align: justify;
    font-family: "Open Sans", serif; }
    main .description li {
      font-family: "Open Sans", serif; }
      @media screen and (max-width: 1000px) {
        main .description li {
          padding: 1%; } }
    @media screen and (max-width: 420px) {
      main .description {
        margin: 0 5%; } }
    @media screen and (max-width: 320px) {
      main .description {
        font-size: 90%; } }

.address {
  width: 100%;
  padding: 2%;
  box-sizing: border-box; }
  @media screen and (max-width: 1000px) {
    .address {
      margin-top: 5%; } }
  .address .address-details {
    float: left;
    width: 30%;
    font-family: "Open Sans", serif; }
    @media screen and (max-width: 1000px) {
      .address .address-details {
        float: right;
        width: 100%;
        padding-top: 30px; } }
    .address .address-details .sub-div {
      margin-bottom: 8%; }
      @media screen and (max-width: 1000px) {
        .address .address-details .sub-div {
          box-sizing: border-box;
          padding: 1%;
          float: left;
          width: 50%; } }
      @media screen and (max-width: 420px) {
        .address .address-details .sub-div {
          width: 100%; }
          .address .address-details .sub-div h2 {
            margin: 0; } }
    .address .address-details h2 {
      font-family: "Lobster", sans-serif;
      margin: 0 1%; }
    .address .address-details p {
      font-size: 90%;
      padding: 2%;
      margin: 0; }
      .address .address-details p a {
        color: #702f79;
        text-decoration: none; }
        .address .address-details p a:hover {
          text-decoration: underline; }
  .address .maps-wrapper {
    float: right;
    width: 70%;
    height: 350px; }
    @media screen and (max-width: 1000px) {
      .address .maps-wrapper {
        width: 100%; } }
    .address .maps-wrapper iframe {
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=accommodation.css.map */
