$bg-color: #f3e5f5;

body {
	margin: 0;
	background: $bg-color;
	overflow-x: hidden;
}

main {
	width: 100vw;

	@media screen and (max-width: 1000px) {
		margin-top: 15%;
	}

	@media screen and (max-width: 420px) {
		margin-top: 25%;
	}

	h1 {
		font-family: "Lobster", sans-serif;
		font-size: 3.25em;
		text-align: center;
		color: darken($bg-color, 70%);

		@media screen and (max-width: 420px) {
			font-size: 2.5em;
		}

		@media screen and (max-width: 320px) {
			font-size: 2em;
		}
	}

	.description {
		margin: 0% 4%;
		padding: 0;
		text-align: justify;
		font-family: "Open Sans", serif;

		li {
			font-family: "Open Sans", serif;

			@media screen and (max-width: 1000px) {
				padding: 1%;
			}
		}

		@media screen and (max-width: 420px) {
			margin: 0 5%;
		}

		@media screen and (max-width: 320px) {
			font-size: 90%;
		}
	}
}

.address {
	width: 100%;
	padding: 2%;
	box-sizing: border-box;

	@media screen and (max-width: 1000px) {
		margin-top: 5%;
	}

	.address-details {
		float: left;
		width: 30%;
		font-family: "Open Sans", serif;

		@media screen and (max-width: 1000px) {
			float: right;
			width: 100%;
			padding-top: 30px;
		}

		.sub-div {
			margin-bottom: 8%;
			@media screen and (max-width: 1000px) {
				box-sizing: border-box;
				padding: 1%;
				float: left;
				width: 50%;
			}

			@media screen and (max-width: 420px) {
				width: 100%;

				h2 {
					margin: 0;
				}
			}
		}

		h2 {
			font-family: "Lobster", sans-serif;
			margin: 0 1%;
		}

		p {
			font-size: 90%;
			padding: 2%;
			margin: 0;

			a {
				color: darken($bg-color, 60%);
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.maps-wrapper {
		float: right;
		width: 70%;
		height: 350px;

		@media screen and (max-width: 1000px) {
			width: 100%;
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}