main {
  position: relative; }

.img-wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 5%;
  width: 35%; }
  .img-wrapper.small-img {
    width: 20%; }
  @media screen and (max-width: 1000px) {
    .img-wrapper {
      width: 50%; }
      .img-wrapper.small-img {
        width: 60%; } }
  @media screen and (max-width: 420px) {
    .img-wrapper {
      width: 80%;
      padding-top: 20%; }
      .img-wrapper.small-img {
        width: 50%; } }

h1 {
  font-family: "Lobster", sans-serif;
  margin-top: 0px;
  font-size: 2em; }

.zero-padding {
  padding: 0 0 !important; }

.tabs-wrapper {
  width: 90%;
  margin: auto;
  padding-bottom: 5px;
  border-radius: 5px; }
  .tabs-wrapper .tabs a {
    color: white;
    transition: all 0.75s; }
    .tabs-wrapper .tabs a.active {
      background-color: #303b7c;
      transition: all 0.75s; }
    .tabs-wrapper .tabs a.active, .tabs-wrapper .tabs a:hover {
      color: #e8eaf6; }
  .tabs-wrapper .indicator {
    background-color: #9fa8da; }
  .tabs-wrapper .progress {
    margin: 2% auto;
    width: 50%; }

.card.large {
  height: 550px; }
.card .card-content {
  position: relative; }
  .card .card-content .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    height: auto;
    opacity: 0.3;
    transform: translate(-50%, -50%); }
  .card .card-content .col:nth-child(2) {
    position: relative; }
    .card .card-content .col:nth-child(2):after {
      display: block;
      content: "";
      width: 3px;
      height: 80%;
      top: 50%;
      left: 0;
      background: #5564bd;
      transform: translate(0, -50%);
      position: absolute; }
.card .card-id {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  color: #303b7c !important;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 10px !important; }
  .card .card-id:after {
    display: block;
    content: "";
    position: absolute;
    height: 3px;
    width: 75%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    background: #c3c9e8; }
.card label {
  color: #5564bd; }
  .card label:after {
    content: " "; }
.card .notice {
  position: absolute;
  bottom: 1%;
  right: 1%; }

nav {
  padding: 0 0 !important; }
  nav .btn-floating .material-icons {
    line-height: 45px; }
  nav .select-wrapper {
    top: 5px; }
  nav .pagination li, nav .pagination a {
    height: 100%;
    color: white; }
  nav .pagination .active {
    background: #303b7c; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-around; }
  .flexbox .flex-element {
    padding: 3px; }

table a:hover {
  text-decoration: underline; }

.search-bar {
  height: 70px; }

/*# sourceMappingURL=admin.css.map */
