main {
	position: relative;
}

.img-wrapper {
	position: relative;
	margin: 0 auto;
	padding-top: 5%;
	// bottom: 20%;
	width: 35%;

	&.small-img {
		width: 20%;
	}

	@media screen and (max-width: 1000px) {
		width: 50%;

		&.small-img {
			width: 60%;
		}
	}

	@media screen and (max-width: 420px) {
		width: 80%;
		padding-top: 20%;

		&.small-img {
			width: 50%;
		}
	}
}

h1 {
	font-family: "Lobster", sans-serif;
	margin-top: 0px;
	font-size: 2em;
	// padding-top: 3%;
}

.zero-padding {
	padding: 0 0 !important;
}

.tabs-wrapper {
	width: 90%;
	margin: auto;
	padding-bottom: 5px;
	border-radius: 5px;

	.tabs {
		a {
			color: white;
			transition: all 0.75s;

			&.active {
				background-color: darken(#e8eaf6, 60%);
				transition: all 0.75s;
			}

			&.active, &:hover {
				color:  #e8eaf6;
			}
		}
	}

	.indicator {
		background-color: #9fa8da;
	}

	.progress {
		margin: 2% auto;
		// margin: auto;
		width: 50%;
	}
	// padding: 2%;
}

$bg-color: #e8eaf6;

.card {

	&.large {
		height: 550px;
	}

	.card-content {
		position: relative;

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 45%;
			height: auto;
			opacity: 0.3;
			transform: translate(-50%, -50%);
		}

		.col:nth-child(2) {
			position: relative;

			&:after {
				display: block;
				content: "";
				width: 3px;
				height: 80%;
				top: 50%;
				left: 0;
				background: darken($bg-color, 40%);
				transform: translate(0, -50%);
				position: absolute;
			}
		}
	}

	.card-id {
		position: relative;
		font-size: 1.5em;
		text-align: center;
		color: darken($bg-color, 60%) !important;
		font-weight: 500;
		padding-bottom: 10px;
		margin-bottom: 10px !important;

		&:after {
			display: block;
			content: "";
			position: absolute;
			height: 3px;
			width: 75%;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0);
			background: darken($bg-color, 10%);
		}
	}

	label {
		color: darken($bg-color, 40%);

		&:after {
			content: " ";
		}
	}

	.notice {
		position: absolute;
		bottom: 1%;
		right: 1%;
	}
}

nav {
	padding: 0 0!important;

	.btn-floating {
		.material-icons {
			line-height: 45px;
		}
	}

	.select-wrapper {
		top: 5px;
	}

	.pagination {

		li, a {
			height: 100%;
			color: white;
		}

		.active {
			background: darken($bg-color, 60%);
		}
	}
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: space-around;

	.flex-element {
		padding: 3px;
	}
}

table a:hover {
	text-decoration: underline;
}

.search-bar {
	height: 70px;
}
