$bg-color: #f3e5f5;

body {
	margin: 0;
	background: $bg-color;
	overflow-x: hidden;
}

main {
	width: 100vw;
	position: relative;

	@media screen and (max-width: 420px) {
		padding-top: 10%;
	}

	h1 {
		font-family: "Lobster", sans-serif;
		font-size: 3.25em;
		text-align: center;
		color: darken($bg-color, 70%);
	}

	.contacts {
		width: 100%;
		margin-top: 5%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.contacts {

	.center {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.contact {
		width: 35%;
		box-sizing: border-box;
		margin-bottom: 50px;
		background: lighten($bg-color, 5%);
		border-radius: 3px;
		box-shadow: 1px 1px 3px transparentize(black, 0.5);
		text-align: center;
		font-family: "Open Sans", serif;

		@media screen and (max-width: 420px) {
			width: 80%;
		}

		h2 {
			color: lighten(black, 30%);
		}

		h4 {
			color: lighten(black, 50%);
		}
	}
}

.icons {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: stretch;
	align-items: center;

	.icon {
		position: relative;
		display: block;
		overflow: hidden;
		height: 100%;
		width: 40%;

		.icon-bg {
			background: url(../images/icons/email_bg.png) no-repeat;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
		}

		.icon-img {
			background: url(../images/icons/email.png) no-repeat;
			background-position: center;
			background-size: contain;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			height: 75%;
			width: 100%;
			transform: translate(-50%, -50%);
			transition: all 0.5s;
		}

		&:hover {
			.icon-img {
				filter: drop-shadow(transparentize(black, 0.5) 2px 2px 2px);
				transition: all 0.5s;
			}
		}
	}
}

.fb-img {
	background-image: url(../images/icons/fb.png) !important;
}

.fb-bg {
	background: url(../images/icons/fb_bg.png) !important;
}

.phone-img {
	background-image: url(../images/icons/phone.png) !important;
}

.phone-bg {
	background: url(../images/icons/phone_bg.png) !important;
}