body {
	margin: 0;
	padding: 0;
	position: relative;
	background:  #f3f1fa;
	overflow: hidden;
	text-align: center;
}

.bg {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -5;
	background: url(../images/Logo.svg) 0 0 no-repeat;
	background-size: contain;
	background-position: center center;
	opacity: 0.25;
}

main {
	box-sizing: border-box;
	// padding: 2%;
	position: relative;

	$color: darken(#f3f1fa, 60%);

	h1 {
		margin: 0;
		padding-top: 7%;
		font-family: "Lobster", sans-serif;
		font-size: 8em;
		color: $color;
	}

	h2 {
		margin: 0;
		font-family: "Lobster", sans-serif;
		font-size: 4em;
		color:  lighten($color, 10%);
	}

	a {
		display: block;
		margin-top: 5%;
		font-family: serif;
		font-size: 1.5em;
		font-weight: bold;
	}
}

