@media screen and (max-width: 1000px) {

	.event {
		h1 {
			font-size: 3.5em;
		}

		.event-description {
			width: 60%;
		}

		.more-details {
			width: 70%;
		}
	}

	.event .event-bg {
		width: auto;
		height: 100%;
	}
}

@media screen and (max-width: 420px) {

	.event {
		padding-top: 13%;
		h1 {
			font-size: 3em;
		}

		.event-description {
			width: 85%;
			font-size: 80%;

			&:after { 
				top: 105%;
			}

		}

		.more-details {
			margin: 0 auto;
			width: 90%; 
			height: 60%;

			.left-half {
				width: 100%;
				height: auto;

				ul {
					padding: 0;

					li {
						float: left;
						margin: 0;
						font-size: 85%;
						padding: 2%;
						text-decoration: underline;

						&:before {
							width: 1px;
							background: transparentize(black, 0.5);
							height: 120%;
							display: none;
						}

						&.active {
							&:before {
								left: 1.5%;
								width: 3px;
							}
						}
					}
				}
			}

			.right-half {
				width: 100%;
				font-size: 90%;
				margin-top: 3%;
			}
		}
	}
}

@media screen and (max-width: 500px) {

	.event {
		height: 120vh !important;

	}

	a.rules {
		font-size: 140%;
	}

	a.register {
		width: 75%;
		font-size: 150%;
		margin-top: 40px;
	}

	.contact {
		font-size: 120%;
	}
}


@media screen and (max-width: 360px) {
	.event {
		height: 850px !important;
	}
}