body {
	margin: 0;
	position: relative;
	overflow-x: hidden;
}

main {
	width: 100%;
	position: relative;
	overflow-x: hidden;
	font-family: "Montserrat", sans-serif;
	color: white;
}

%pseudo-element {
	position: absolute;
	display: block;
	content: "";
	width: 0;
	height: 0;
}

.events {
	width: 100%;

	$colors: #FD93A7, #3F94E0, #65C2D2, #07B1F2, #5280CA, #E3E1E1, #DD8AC1, #F7AC36, #AF2B0F, #008d9b, #CA8327;

	.event {
		width: 100vw;
		height: 105vh;
		// background-color: grey;
		position: relative;
		overflow: hidden;
		z-index: 10;

		@for $i from 1 through 11 {
			&:nth-child(#{$i}) {
				background: grey;
				h1 {
					color: nth($colors, $i);
				}
			}
		}
	}
}

.event {

	.event-bg {
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: auto;
		z-index: -1;
	}

	h1 {
		font-size: 5em;
		margin: 0;
		padding-top: 5%;
		padding-left: 2%;
	}

	.event-description {
		width: 75%;
		margin: 1% 4%;
		position: relative;
		// text-shadow: transparentize(black, 0.2) 1px 1px 1px;
		padding: 1%;
		background: transparentize(black, 0.7);
		border-radius: 5px;

		&:after {
			@extend %pseudo-element;
			top: 110%;
			left: -3%;
			width: 10%;
			height: 5px;
			opacity: 0.6;
			// background: url('../images/events/waves.svg') 0 0 repeat-x;
			background: white;
			background-size: contain;
		}
	}

	.more-details {
		width: 85%;
		height: 55%;
		box-sizing: border-box;
		// background: yellow;

		.left-half, .right-half {
			width: 30%;
			float: left;
			height: 100%;
			box-sizing: border-box;
		}

		.contact {
			float: right;
			width: 90px;
			height: 40px;
			text-align: center;
			box-sizing: border-box;
			padding: 1%;
			margin: 0;
			border-radius: 25% / 50%;
			border: 3px solid white;
			transition: all 0.75s;
			cursor: pointer;
			font-weight: bold;

			p {
				color: black;
			}

			&:hover, &.active {
				transition: all 0.75s;
				background: white;
				color: black;
			}
		}

		.contact-desc {
			display: none;
			text-align: center;

			a {
				color: white;
			}
		}

		.left-half {
			ul {
				list-style-type: none;
				padding-left: 30%;
				padding-top: 5%;

				li {
					$transition-param: all 1s;
					padding: 4% 0;
					cursor: pointer;
					position: relative;
					transition: $transition-param;
					text-shadow: transparentize(black, 0.4) 1px 1px 1px;

					&:before {
						@extend %pseudo-element;
						top: 50%;
						left: 0;
						height: 75%;
						transform: translate(0, -50%);
						transition: $transition-param;
					}

					&.active {
						color: transparentize(white, 0.4);
						transition: $transition-param;


						&:before {
							width: 5px;
							left: -10%;
							background: transparentize(white, 0.4);
							transition: $transition-param;
						}
					}
				}
			}
		}

		.right-half {
			width: 60%;
			height: auto;
			box-sizing: border-box;
			border-radius: 8px;
			padding: 1%;
			background: transparentize(grey, 0.7);
			text-shadow: transparentize(black, 0.2) 1px 1px 1px;
			

			.sub-event-desc {
				width: 100%;
				// height: 100%;
				display: none;
				overflow-y: auto;

				h2 label {
					font-size: 70%;
					opacity: 0.8;
				}

				p {
					font-family: "Open Sans", sans-serif;
					padding-bottom: 0%;
					margin: 0;
				}

				&.active {
					display: block;
				}
			}
			// background: yellow;
		}
	}
}


.material-icons {
	vertical-align: middle;
}

@mixin align-center($horizontal: true, $vertical: true) {
	@if $horizontal {
		left: 50%;
		transform: translate(-50%, 0);

		@if $vertical {
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
	@else {
		top: 50%;
		transform: translate(0%, -50%);
	}
}

@import "_sidebar.scss";

.overlay-cover {
	position: relative;
	z-index: 0;

	.overlay {
		position: absolute;
		top: 0;
		// left: 0;
		height: 100%;
		width: 0%;
		background: desaturate(white, 20%);
		z-index: 1;
	}
}

a.rules, a.register {
	display: block;
	padding: 3px 15px;
	border: transparentize(white, 0.2) 3px solid;
	border-radius: 25% / 50%;
	color: white;
	text-decoration: none;
	transition: all 0.75s;
	text-align: center;

	&:hover {
		background: transparentize(white, 0.2);
		color: black;
		transition: all 0.75s;
	}
}


a.rules {
	float: right;
}

a.register {
	border-radius: 5px;
	font-size: 120%;
	width: 80px;
	height: 30px;
	margin: auto;
}

.prizes {
	margin: 2%;
	text-align: center;
}

