@media screen and (max-width: 1000px) {
  .event h1 {
    font-size: 3.5em; }
  .event .event-description {
    width: 60%; }
  .event .more-details {
    width: 70%; }

  .event .event-bg {
    width: auto;
    height: 100%; } }
@media screen and (max-width: 420px) {
  .event {
    padding-top: 13%; }
    .event h1 {
      font-size: 3em; }
    .event .event-description {
      width: 85%;
      font-size: 80%; }
      .event .event-description:after {
        top: 105%; }
    .event .more-details {
      margin: 0 auto;
      width: 90%;
      height: 60%; }
      .event .more-details .left-half {
        width: 100%;
        height: auto; }
        .event .more-details .left-half ul {
          padding: 0; }
          .event .more-details .left-half ul li {
            float: left;
            margin: 0;
            font-size: 85%;
            padding: 2%;
            text-decoration: underline; }
            .event .more-details .left-half ul li:before {
              width: 1px;
              background: rgba(0, 0, 0, 0.5);
              height: 120%;
              display: none; }
            .event .more-details .left-half ul li.active:before {
              left: 1.5%;
              width: 3px; }
      .event .more-details .right-half {
        width: 100%;
        font-size: 90%;
        margin-top: 3%; } }
@media screen and (max-width: 500px) {
  .event {
    height: 120vh !important; }

  a.rules {
    font-size: 140%; }

  a.register {
    width: 75%;
    font-size: 150%;
    margin-top: 40px; }

  .contact {
    font-size: 120%; } }
@media screen and (max-width: 360px) {
  .event {
    height: 850px !important; } }

/*# sourceMappingURL=events.media.css.map */
