body {
  margin: 0;
  position: relative;
  overflow-x: hidden; }

main {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: white; }

.event .event-description:after, .event .more-details .left-half ul li:before, .side-bar h2:after, .side-bar h1:after, .side-bar .scroll-bar:after, .side-bar .scroll-bar:before, .side-bar ul li:after, .side-bar ul li:before, .underline:after, .underline:before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0; }

.events {
  width: 100%; }
  .events .event {
    width: 100vw;
    height: 105vh;
    position: relative;
    overflow: hidden;
    z-index: 10; }
    .events .event:nth-child(1) {
      background: grey; }
      .events .event:nth-child(1) h1 {
        color: #FD93A7; }
    .events .event:nth-child(2) {
      background: grey; }
      .events .event:nth-child(2) h1 {
        color: #3F94E0; }
    .events .event:nth-child(3) {
      background: grey; }
      .events .event:nth-child(3) h1 {
        color: #65C2D2; }
    .events .event:nth-child(4) {
      background: grey; }
      .events .event:nth-child(4) h1 {
        color: #07B1F2; }
    .events .event:nth-child(5) {
      background: grey; }
      .events .event:nth-child(5) h1 {
        color: #5280CA; }
    .events .event:nth-child(6) {
      background: grey; }
      .events .event:nth-child(6) h1 {
        color: #E3E1E1; }
    .events .event:nth-child(7) {
      background: grey; }
      .events .event:nth-child(7) h1 {
        color: #DD8AC1; }
    .events .event:nth-child(8) {
      background: grey; }
      .events .event:nth-child(8) h1 {
        color: #F7AC36; }
    .events .event:nth-child(9) {
      background: grey; }
      .events .event:nth-child(9) h1 {
        color: #AF2B0F; }
    .events .event:nth-child(10) {
      background: grey; }
      .events .event:nth-child(10) h1 {
        color: #008d9b; }
    .events .event:nth-child(11) {
      background: grey; }
      .events .event:nth-child(11) h1 {
        color: #CA8327; }

.event .event-bg {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -1; }
.event h1 {
  font-size: 5em;
  margin: 0;
  padding-top: 5%;
  padding-left: 2%; }
.event .event-description {
  width: 75%;
  margin: 1% 4%;
  position: relative;
  padding: 1%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px; }
  .event .event-description:after {
    top: 110%;
    left: -3%;
    width: 10%;
    height: 5px;
    opacity: 0.6;
    background: white;
    background-size: contain; }
.event .more-details {
  width: 85%;
  height: 55%;
  box-sizing: border-box; }
  .event .more-details .left-half, .event .more-details .right-half {
    width: 30%;
    float: left;
    height: 100%;
    box-sizing: border-box; }
  .event .more-details .contact {
    float: right;
    width: 90px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    padding: 1%;
    margin: 0;
    border-radius: 25% / 50%;
    border: 3px solid white;
    transition: all 0.75s;
    cursor: pointer;
    font-weight: bold; }
    .event .more-details .contact p {
      color: black; }
    .event .more-details .contact:hover, .event .more-details .contact.active {
      transition: all 0.75s;
      background: white;
      color: black; }
  .event .more-details .contact-desc {
    display: none;
    text-align: center; }
    .event .more-details .contact-desc a {
      color: white; }
  .event .more-details .left-half ul {
    list-style-type: none;
    padding-left: 30%;
    padding-top: 5%; }
    .event .more-details .left-half ul li {
      padding: 4% 0;
      cursor: pointer;
      position: relative;
      transition: all 1s;
      text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px; }
      .event .more-details .left-half ul li:before {
        top: 50%;
        left: 0;
        height: 75%;
        transform: translate(0, -50%);
        transition: all 1s; }
      .event .more-details .left-half ul li.active {
        color: rgba(255, 255, 255, 0.6);
        transition: all 1s; }
        .event .more-details .left-half ul li.active:before {
          width: 5px;
          left: -10%;
          background: rgba(255, 255, 255, 0.6);
          transition: all 1s; }
  .event .more-details .right-half {
    width: 60%;
    height: auto;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 1%;
    background: rgba(128, 128, 128, 0.3);
    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 1px; }
    .event .more-details .right-half .sub-event-desc {
      width: 100%;
      display: none;
      overflow-y: auto; }
      .event .more-details .right-half .sub-event-desc h2 label {
        font-size: 70%;
        opacity: 0.8; }
      .event .more-details .right-half .sub-event-desc p {
        font-family: "Open Sans", sans-serif;
        padding-bottom: 0%;
        margin: 0; }
      .event .more-details .right-half .sub-event-desc.active {
        display: block; }

.material-icons {
  vertical-align: middle; }

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  z-index: 50; }
  .side-bar h2, .side-bar h1 {
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 5px;
    font-size: 170%; }
    .side-bar h2:after, .side-bar h1:after {
      left: 50%;
      transform: translate(-50%, 0);
      width: 50%;
      bottom: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.7); }
  .side-bar .scroll-bar {
    position: absolute;
    width: 50%;
    height: 10%;
    right: 25%;
    top: 0; }
    .side-bar .scroll-bar:after, .side-bar .scroll-bar:before {
      top: 50%;
      transform: translate(0%, -50%);
      width: 5px;
      height: 100%;
      background: rgba(255, 255, 255, 0.7);
      right: 0;
      top: 0;
      transform: translate(0%, -50%); }
  .side-bar ul {
    list-style-type: none;
    padding-left: 0;
    margin-right: 25%; }
    .side-bar ul li {
      font-weight: thin;
      text-align: center;
      padding: 9% 9%;
      position: relative;
      cursor: pointer;
      z-index: 5;
      transition: color 0.5s;
      font-size: 80%; }
      .side-bar ul li:hover {
        color: #cdcdcd;
        transition: all 1s;
        text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px; }
      .side-bar ul li.active {
        color: #cdcdcd;
        cursor: pointer;
        transition: color 0.5s;
        text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px; }
      .side-bar ul li:after, .side-bar ul li:before {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.7);
        right: 0;
        top: 0; }
      .side-bar ul li:after {
        top: 100%; }

.underline {
  position: relative; }
  .underline:after, .underline:before {
    bottom: -5px;
    height: 3px;
    background: #cdcdcd; }
  .underline:before {
    width: 0%;
    left: -10%;
    transition: width 0.5s ease-out; }
  .underline:after {
    width: 0%;
    left: 20%;
    transition: width 0.5s ease-out; }
  .underline.animate:before {
    width: 30%;
    transition: width 0.5s ease-out; }
  .underline.animate:after {
    width: 90%;
    transition: width 0.5s ease-out; }

@media screen and (max-width: 1000px) {
  .side-bar {
    width: 30%; } }
@media screen and (max-width: 420px) {
  .side-bar {
    display: none; } }
.overlay-cover {
  position: relative;
  z-index: 0; }
  .overlay-cover .overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 0%;
    background: white;
    z-index: 1; }

a.rules, a.register {
  display: block;
  padding: 3px 15px;
  border: rgba(255, 255, 255, 0.8) 3px solid;
  border-radius: 25% / 50%;
  color: white;
  text-decoration: none;
  transition: all 0.75s;
  text-align: center; }
  a.rules:hover, a.register:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    transition: all 0.75s; }

a.rules {
  float: right; }

a.register {
  border-radius: 5px;
  font-size: 120%;
  width: 80px;
  height: 30px;
  margin: auto; }

.prizes {
  margin: 2%;
  text-align: center; }

/*# sourceMappingURL=events.css.map */
