.events {

	$colors: #8bc34a, #927553, #F4ADB8, #000, #CA8327, #008d9b;

	.event {

		@for $i from 1 through 5 {

			&:nth-child(#{$i}) {

				$color: nth($colors, $i);
				h1 {
					color: $color;
				}
			}
		}
	}
}