.events .event:nth-child(1) h1 {
  color: #8bc34a; }
.events .event:nth-child(2) h1 {
  color: #927553; }
.events .event:nth-child(3) h1 {
  color: #F4ADB8; }
.events .event:nth-child(4) h1 {
  color: #000; }
.events .event:nth-child(5) h1 {
  color: #CA8327; }

/*# sourceMappingURL=i-care.css.map */
