.events {

	$colors: #514A8D, #bf360c, #739700, #F9C908, #000, #CA8327, #008d9b;

	.event {

		@for $i from 1 through 5 {

			&:nth-child(#{$i}) {

				$color: nth($colors, $i);
				h1 {
					color: $color;
				}
			}
		}
	}
}

.event {
	// background: #303f9f !important;

	h1 {
		font-size: 4.5em;
		// padding-top: 5%;
	}

	.desc {
		margin: 2% !important;
	}

	.event-description {
		width: 45%;
		margin-left: 30%;
	}


	.more-details {
		margin-top: 40px;
		width: 75%;

		.right-half {
			width: 60%;
			float: right;
		}
	}

	@media screen and (max-width: 1000px) {

		.event-description {
			width: 60%;
			margin-left: 5%;
		}

		.more-details {

			.right-half {
				width: 70%;
			}
		}

		.event-bg {
			width: auto;
			height: 100%;
		}
	}
}

.side-bar {
	color: grey;
	h2 {
		color: grey;
	}

}

@media screen and (max-width: 1000px) {

	.event {
		h1 {
			font-size: 3.5em;
		}

		.event-description {
			width: 60%;
		}

		.more-details {
			width: 70%;
		}
	}

	.event .event-bg {
		width: auto;
		height: 100%;
	}
}

@media screen and (max-width: 500px) {

	.event {
		h1 {
			font-size: 3em;
		}

		.event-description {
			margin-top: 52%;
			width: 90% !important;
		}

		.more-details {
			width: 90% !important;

			.right-half {
				width: 100% !important;
			}
		}
	}

	.event .event-bg {
		width: auto;
		height: 100%;
	}

	a.register {
		margin-top: 5px;
	}
}

@media screen and (max-width: 400px) {
	.event {
		.event-description {
			margin-top: 35%;
		}
	}
}

@media screen and (max-width: 320px) {
	.event {
		.event-description {
			margin-top: 55%;
		}
	}
}

.left-align {
	text-align: left;
	font-size: 140%;
}