.events .event:nth-child(1) h1 {
  color: #514A8D; }
.events .event:nth-child(2) h1 {
  color: #bf360c; }
.events .event:nth-child(3) h1 {
  color: #739700; }
.events .event:nth-child(4) h1 {
  color: #F9C908; }
.events .event:nth-child(5) h1 {
  color: #000; }

.event h1 {
  font-size: 4.5em; }
.event .desc {
  margin: 2% !important; }
.event .event-description {
  width: 45%;
  margin-left: 30%; }
.event .more-details {
  margin-top: 40px;
  width: 75%; }
  .event .more-details .right-half {
    width: 60%;
    float: right; }
@media screen and (max-width: 1000px) {
  .event .event-description {
    width: 60%;
    margin-left: 5%; }
  .event .more-details .right-half {
    width: 70%; }
  .event .event-bg {
    width: auto;
    height: 100%; } }

.side-bar {
  color: grey; }
  .side-bar h2 {
    color: grey; }

@media screen and (max-width: 1000px) {
  .event h1 {
    font-size: 3.5em; }
  .event .event-description {
    width: 60%; }
  .event .more-details {
    width: 70%; }

  .event .event-bg {
    width: auto;
    height: 100%; } }
@media screen and (max-width: 500px) {
  .event h1 {
    font-size: 3em; }
  .event .event-description {
    margin-top: 52%;
    width: 90% !important; }
  .event .more-details {
    width: 90% !important; }
    .event .more-details .right-half {
      width: 100% !important; }

  .event .event-bg {
    width: auto;
    height: 100%; }

  a.register {
    margin-top: 5px; } }
@media screen and (max-width: 400px) {
  .event .event-description {
    margin-top: 35%; } }
@media screen and (max-width: 320px) {
  .event .event-description {
    margin-top: 55%; } }
.left-align {
  text-align: left;
  font-size: 140%; }

/*# sourceMappingURL=inci-talks.css.map */
