@font-face {
  font-family: Cantora-One;
  src: url("../font/custom/CantoraOne-Regular.ttf"); }
@font-face {
  font-family: Aleo-Regular;
  src: url("../font/custom/aleo-regular.ttf"); }
body {
  margin: 0;
  overflow-x: hidden; }

main {
  position: relative; }

#main .bg, #main .land, #main .land .lighthouse, #main .land .tree, #main .land .shop, #main .land .umbrella, #main .land .tent, #main .land .ferrywheel, #main .land .icecream, #main .land .circus, #main .waves {
  position: absolute;
  bottom: 0;
  left: 0; }

.mobile-bg {
  display: none; }
  @media screen and (max-width: 420px) {
    .mobile-bg {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -1;
      background: url("../images/Cover Phone.jpg") 0 0 no-repeat;
      background-size: cover; } }

#main {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -5;
  top: 0;
  left: 0; }
  @media screen and (max-width: 420px) {
    #main {
      display: none; } }
  #main .bg {
    width: 100%;
    height: 100%;
    z-index: -100;
    background: url("../images/animations/Sky.png"); }
  #main .land {
    width: 100%;
    height: 30%;
    z-index: 10;
    background: url("../images/animations/Land.png") 0% 0 repeat-x;
    background-position-y: bottom; }
    #main .land .lighthouse {
      height: 100%;
      width: 50%;
      bottom: 35px;
      background: url("../images/animations/Lighthouse.png") no-repeat;
      background-size: contain; }
    #main .land .tree {
      height: 40%;
      width: 30%;
      left: 20%;
      bottom: 35px;
      background: url("../images/animations/tree.png") no-repeat;
      background-size: contain; }
    #main .land .shop {
      height: 30%;
      width: 30%;
      left: 55%;
      bottom: 35px;
      background: url("../images/animations/Shop.png") no-repeat;
      background-size: contain; }
    #main .land .umbrella {
      height: 30%;
      width: 30%;
      left: 60%;
      bottom: 35px;
      background: url("../images/animations/Umbrella.png") no-repeat;
      background-size: contain; }
      @media screen and (max-width: 1000px) {
        #main .land .umbrella {
          display: none; } }
    #main .land .tent {
      height: 30%;
      width: 30%;
      left: 65%;
      bottom: 35px;
      background: url("../images/animations/Tent.png") no-repeat;
      background-size: contain; }
    #main .land .ferrywheel {
      height: 80%;
      width: 50%;
      left: 70%;
      bottom: 35px;
      background: url("../images/animations/Ferry wheel.png") no-repeat;
      background-size: contain; }
    #main .land .icecream {
      height: 30%;
      width: 30%;
      left: 82%;
      bottom: 35px;
      background: url("../images/animations/Ice Cream.png") no-repeat;
      background-size: contain; }
      @media screen and (max-width: 1000px) {
        #main .land .icecream {
          display: none; } }
    #main .land .circus {
      height: 30%;
      width: 50%;
      bottom: 35px;
      left: unset;
      right: 0;
      background: url("../images/animations/Circus.png") no-repeat;
      background-size: contain;
      background-position: bottom right; }
      @media screen and (max-width: 1000px) {
        #main .land .circus {
          display: none; } }
  #main .waves {
    width: 100%;
    height: 25%;
    z-index: -10; }
    #main .waves .wave {
      position: absolute;
      width: 200%;
      background: url("../images/animations/light waves.png") repeat-x;
      background-size: contain; }
      #main .waves .wave.light-blue {
        right: 0; }
      #main .waves .wave.dark-blue {
        left: 0;
        background-image: url("../images/animations/dark waves.png"); }
      #main .waves .wave.wave1 {
        top: 55%;
        z-index: 0;
        height: 100px; }
      #main .waves .wave.wave2 {
        top: 45%;
        z-index: -5;
        height: 80px; }
      #main .waves .wave.wave3 {
        top: 35%;
        z-index: -10;
        height: 60px; }
      #main .waves .wave.wave4 {
        top: 0;
        z-index: -15;
        height: 50px; }
  #main .air {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    z-index: -100; }
    #main .air .cloud {
      background: url("../images/animations/Cloud 1.png") no-repeat;
      background-size: contain;
      position: absolute;
      width: 15%;
      height: 20%; }
    #main .air #cloud1 {
      background-image: url("../images/animations/Cloud 1.png");
      z-index: -30;
      height: 5%;
      top: 50%;
      left: 50%; }
    #main .air #cloud2 {
      background-image: url("../images/animations/Cloud 2.png");
      z-index: -20;
      height: 8%;
      top: 20%;
      left: 70%; }
    #main .air #cloud3 {
      background-image: url("../images/animations/Cloud 3.png");
      z-index: 0;
      top: 10%;
      height: 10%;
      left: 10%; }
    #main .air #cloud4 {
      background-image: url("../images/animations/Cloud 2.png");
      z-index: 0;
      top: 60%;
      height: 7%;
      left: 20%; }
    #main .air .airplane {
      position: absolute;
      top: 5%;
      height: 50%;
      width: 35%;
      left: 100%;
      background: url("../images/animations/Air Plane.png") no-repeat;
      background-size: contain; }
    #main .air .balloon1 {
      position: absolute;
      top: 10%;
      height: 10%;
      width: 10%;
      left: 55%;
      background: url("../images/animations/Balloon1.png") no-repeat;
      background-size: contain; }
    #main .air .balloon2 {
      position: absolute;
      top: 80%;
      height: 12%;
      width: 35%;
      left: 10%;
      background: url("../images/animations/Balloon2.png") no-repeat;
      background-size: contain; }

#header {
  width: 100vw;
  height: 100vh;
  position: relative; }
  #header .bg {
    position: absolute;
    width: 45%;
    height: 80%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/carnival-bg.png") 0 0 no-repeat;
    background-size: contain;
    background-position: center center; }
    @media screen and (max-width: 1000px) {
      #header .bg {
        width: 100%; } }
  #header .header-text {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 1000px) {
      #header .header-text {
        width: 50%;
        height: 20%; } }
    @media screen and (max-width: 420px) {
      #header .header-text {
        width: 50%;
        height: 15%; } }
    #header .header-text svg {
      width: 100%;
      height: auto; }
      #header .header-text svg g {
        fill: transparent;
        stroke: #102E41;
        stroke-width: 3;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000; }
  #header .header-date {
    font-family: "Lobster", sans-serif;
    color: white;
    position: absolute;
    top: 52%;
    left: 50%;
    font-size: 1.75em;
    font-weight: bold;
    transform: translate(-50%, -50%);
    opacity: 0; }
    @media screen and (max-width: 1000px) {
      #header .header-date {
        top: 50%; } }
    @media screen and (max-width: 420px) {
      #header .header-date {
        font-size: 1.25em;
        top: 60%;
        color: #DE0028; } }
  #header .carnival-bg {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #header .carnival-bg svg {
      width: 100%;
      height: auto; }

#about .timeline .throttler .timeline-year {
  text-align: center;
  position: relative;
  margin: 0 auto; }
  #about .timeline .throttler .timeline-year:after {
    content: "";
    display: block;
    clear: both; }
  #about .timeline .throttler .timeline-year .digit {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    color: #c5e0f1;
    text-align: center; }
    #about .timeline .throttler .timeline-year .digit .frame0, #about .timeline .throttler .timeline-year .digit .frame1 {
      position: relative;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
      font-size: 3em; }

#about {
  width: 100vw;
  background-size: cover;
  z-index: 5; }
  #about .timeline {
    width: 40%;
    height: 100vh;
    float: left; }
    @media screen and (max-width: 1000px) {
      #about .timeline {
        float: none;
        width: 100%; } }
    @media screen and (max-width: 320px) {
      #about .timeline {
        height: 100vh; } }
    #about .timeline .throttler {
      margin: 0 auto;
      position: relative;
      z-index: 0; }
      @media screen and (max-width: 1000px) {
        #about .timeline .throttler {
          padding-top: 17%; } }
      #about .timeline .throttler:before {
        content: "";
        width: 14vw;
        height: 14vw;
        left: 10vw;
        top: 12vh;
        border-radius: 50%;
        border: 15vw solid #1a1a1a;
        -webkit-box-shadow: inset 0 0 20px black, 0 0 30px black;
        -o-box-shadow: inset 0 0 20px black, 0 0 30px black;
        -moz-box-shadow: inset 0 0 20px black, 0 0 30px black;
        -ms-box-shadow: inset 0 0 20px black, 0 0 30px black;
        box-shadow: inset 0 0 20px black, 0 0 30px black;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 7; }
        @media screen and (max-width: 1000px) {
          #about .timeline .throttler:before {
            border-width: 30vw;
            width: 28vw;
            height: 28vw;
            left: 19%;
            top: 48%; } }
        @media screen and (max-width: 768px) {
          #about .timeline .throttler:before {
            top: 52%; } }
        @media screen and (max-width: 640px) {
          #about .timeline .throttler:before {
            display: none; } }
      #about .timeline .throttler .timeline-year {
        width: 80%;
        z-index: 5;
        font-family: 'Arvo', serif; }
        @media screen and (max-width: 1000px) {
          #about .timeline .throttler .timeline-year {
            width: 85%; } }
        #about .timeline .throttler .timeline-year .digit {
          width: 3vw;
          height: 14vw;
          line-height: 3;
          font-weight: bold;
          color: #102E41; }
          @media screen and (max-width: 1000px) {
            #about .timeline .throttler .timeline-year .digit {
              width: 6vw;
              height: 30vw;
              line-height: 4.5; } }
          @media screen and (max-width: 640px) {
            #about .timeline .throttler .timeline-year .digit {
              display: none; } }
          #about .timeline .throttler .timeline-year .digit .frame0, #about .timeline .throttler .timeline-year .digit .frame1 {
            font-size: 3.5em; }
            @media screen and (max-width: 1000px) {
              #about .timeline .throttler .timeline-year .digit .frame0, #about .timeline .throttler .timeline-year .digit .frame1 {
                font-size: 4em; } }
            @media screen and (min-width: 1500px) {
              #about .timeline .throttler .timeline-year .digit .frame0, #about .timeline .throttler .timeline-year .digit .frame1 {
                font-size: 4.5em; } }
      #about .timeline .throttler .content {
        padding: 2%;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        line-height: 1.4;
        position: relative;
        width: 70%;
        height: 15vh;
        text-align: left;
        z-index: 10;
        color: #c5e0f1; }
        @media screen and (min-width: 1500px) {
          #about .timeline .throttler .content {
            font-size: 1.6em; } }
        @media screen and (max-width: 1000px) {
          #about .timeline .throttler .content {
            width: 55%;
            font-size: 1.5em; } }
        @media screen and (max-width: 640px) {
          #about .timeline .throttler .content {
            color: #102E41;
            width: 70%;
            font-size: 1.25em; } }
        @media screen and (max-width: 320px) {
          #about .timeline .throttler .content {
            font-size: 1em; } }
    #about .timeline .fest-count {
      float: left;
      position: relative;
      color: #102E41;
      margin-top: 20%;
      padding: 5%; }
      @media screen and (max-width: 1000px) {
        #about .timeline .fest-count {
          margin-top: 15%; } }
      @media screen and (max-width: 640px) {
        #about .timeline .fest-count {
          margin-top: 80%; } }
      @media screen and (max-width: 400px) {
        #about .timeline .fest-count {
          margin-top: 70%; } }
      #about .timeline .fest-count .individ-fest-count {
        margin-bottom: 12%;
        position: relative; }
        @media screen and (max-width: 1000px) {
          #about .timeline .fest-count .individ-fest-count {
            margin-bottom: 18%; } }
        @media screen and (max-width: 640px) {
          #about .timeline .fest-count .individ-fest-count {
            margin-bottom: 15%; } }
        #about .timeline .fest-count .individ-fest-count .name {
          position: absolute;
          z-index: 5;
          top: -40%;
          color: #246893;
          font-size: 1.5em;
          font-weight: bold;
          font-family: Cantora-One, serif;
          opacity: 0.9; }
          @media screen and (min-width: 1500px) {
            #about .timeline .fest-count .individ-fest-count .name {
              font-size: 2em; } }
          @media screen and (max-width: 1000px) {
            #about .timeline .fest-count .individ-fest-count .name {
              font-size: 3em;
              text-shadow: 0 0 3px #102E41; } }
          @media screen and (max-width: 640px) {
            #about .timeline .fest-count .individ-fest-count .name {
              font-size: 1.5em; } }
          @media screen and (max-width: 320px) {
            #about .timeline .fest-count .individ-fest-count .name {
              font-size: 1.2em; } }
        #about .timeline .fest-count .individ-fest-count .number {
          position: relative;
          font-size: 2.5em;
          font-weight: bold;
          color: #f7ec86;
          text-shadow: #a6960b 1px 1px 1px;
          margin-left: 30%;
          font-family: Cantora-One, serif; }
          @media screen and (min-width: 1500px) {
            #about .timeline .fest-count .individ-fest-count .number {
              font-size: 3.5em; } }
          @media screen and (max-width: 1000px) {
            #about .timeline .fest-count .individ-fest-count .number {
              font-size: 4.5em; } }
          @media screen and (max-width: 640px) {
            #about .timeline .fest-count .individ-fest-count .number {
              font-size: 2.5em; } }
          @media screen and (max-width: 320px) {
            #about .timeline .fest-count .individ-fest-count .number {
              font-size: 2em; } }
          #about .timeline .fest-count .individ-fest-count .number:after {
            content: "+";
            padding-left: 5%;
            color: #2e85bc;
            opacity: 0.8; }
  #about .timeline-line {
    float: right;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 30%;
    text-align: left; }
    #about .timeline-line li {
      padding-bottom: 10%;
      padding-left: 15%;
      font-size: 1.75em;
      position: relative;
      color: #1a4b6a;
      cursor: pointer;
      text-shadow: 1px 1px 2px black;
      font-family: 'Arvo', serif;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      transition: all 0.5s; }
      @media screen and (min-width: 1500px) {
        #about .timeline-line li {
          font-size: 2em;
          padding-bottom: 12%; } }
      @media screen and (max-width: 1000px) {
        #about .timeline-line li {
          font-size: 2.5em;
          padding-bottom: 12%; } }
      @media screen and (max-width: 640px) {
        #about .timeline-line li {
          font-size: 1.5em;
          padding-bottom: 15%; } }
      @media screen and (max-width: 320px) {
        #about .timeline-line li {
          font-size: 1.3em;
          padding-bottom: 20%; } }
      #about .timeline-line li:after {
        content: "";
        position: absolute;
        height: 200%;
        left: 0%;
        top: 0;
        border-right: 3px solid #1a4b6a; }
      #about .timeline-line li:first-child:after {
        top: 25%; }
      #about .timeline-line li:before {
        content: "";
        position: absolute;
        left: 0%;
        top: 25%;
        width: 10%;
        border-top: 3px solid #1a4b6a;
        -webkit-transition: width 0.5s;
        -o-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -ms-transition: width 0.5s;
        transition: width 0.5s; }
      #about .timeline-line li:hover {
        padding-left: 20%;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s; }
      #about .timeline-line li.active {
        color: #102E41;
        padding-left: 20%;
        font-size: 2em;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s; }
        @media screen and (min-width: 1500px) {
          #about .timeline-line li.active {
            font-size: 2.5em; } }
        @media screen and (max-width: 1000px) {
          #about .timeline-line li.active {
            font-size: 3.5em; } }
        @media screen and (max-width: 640px) {
          #about .timeline-line li.active {
            font-size: 2em; } }
        @media screen and (max-width: 320px) {
          #about .timeline-line li.active {
            font-size: 1.5em; } }
        #about .timeline-line li.active:before {
          width: 15%;
          -webkit-transition: width 0.5s;
          -o-transition: width 0.5s;
          -moz-transition: width 0.5s;
          -ms-transition: width 0.5s;
          transition: width 0.5s; }
      #about .timeline-line li .content {
        display: none; }
      @media screen and (max-width: 1000px) {
        #about .timeline-line li:after {
          height: 100%; }
        #about .timeline-line li:last-child:after {
          height: 25%; } }
  #about .about-us {
    height: 105vh;
    width: 50vw;
    margin-right: 10vw;
    float: right;
    background-color: #e2eff8;
    color: #102E41;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3%;
    position: relative;
    -webkit-box-shadow: 0px 0px 30px #102E41;
    -o-box-shadow: 0px 0px 30px #102E41;
    -moz-box-shadow: 0px 0px 30px #102E41;
    -ms-box-shadow: 0px 0px 30px #102E41;
    box-shadow: 0px 0px 30px #102E41;
    overflow: hidden;
    z-index: 5; }
    @media screen and (max-width: 1000px) {
      #about .about-us {
        float: none;
        height: 110vh;
        width: 100%;
        margin-right: 0; } }
    #about .about-us h1 {
      position: relative;
      font-size: 2.5em;
      z-index: 15;
      text-align: center;
      font-family: Cantora-One, serif; }
      #about .about-us h1:before {
        content: "About";
        position: absolute;
        top: -155%;
        left: 35%;
        font-size: 3.3em;
        color: #c5e0f1;
        z-index: -5; }
      @media screen and (min-width: 1500px) {
        #about .about-us h1 {
          font-size: 3.5em; } }
      @media screen and (max-width: 1000px) {
        #about .about-us h1 {
          margin-top: 10%;
          font-size: 4em; } }
      @media screen and (max-width: 640px) {
        #about .about-us h1 {
          margin-top: 10%;
          font-size: 3em; } }
      @media screen and (max-width: 400px) {
        #about .about-us h1 {
          margin-top: 20%;
          font-size: 2em; } }
    #about .about-us p {
      position: relative;
      padding: 2%;
      line-height: 1.7;
      z-index: 15; }
      @media screen and (min-width: 1500px) {
        #about .about-us p {
          font-size: 1.4em; } }
      @media screen and (max-width: 1000px) {
        #about .about-us p {
          font-size: 1.25em;
          padding-right: 4%; } }
      @media screen and (max-width: 640px) {
        #about .about-us p {
          font-size: 1.15em; } }
      @media screen and (max-width: 400px) {
        #about .about-us p {
          font-size: 0.85em;
          margin-top: 1%;
          padding: 3%;
          padding-right: 5%; } }
      @media screen and (max-height: 500px) {
        #about .about-us p {
          font-size: 0.8em; } }
    #about .about-us .icon {
      position: absolute;
      top: 20%;
      left: 15%;
      -webkit-transform: scale(1.3, 1.3);
      -o-transform: scale(1.3, 1.3);
      -moz-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3);
      fill: #c5e0f1;
      z-index: 0; }
  #about .about-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    background: #c5e0f1; }
    #about .about-footer .position {
      float: left;
      font-size: 80%;
      width: 50%;
      text-align: left; }
      #about .about-footer .position h4, #about .about-footer .position p {
        margin: 1%;
        padding: 0; }
      #about .about-footer .position:last-child {
        float: right;
        text-align: right; }

.scrollmagic-pin-spacer #about {
  top: 0px !important; }

#footer {
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  background: #102E41;
  width: 100vw;
  box-sizing: border-box;
  padding: 1%; }
  #footer .content {
    float: left;
    width: 30%;
    color: #e2eff8; }
    #footer .content h3, #footer .content h4 {
      margin: 0; }
    #footer .content.float-right {
      float: right; }

.notice-model {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 40%;
  background: white;
  border-radius: 5px;
  padding: 3%;
  padding-bottom: 1%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  z-index: 500;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 500px) {
    .notice-model {
      width: 80%;
      padding: 5%; } }
  .notice-model .close {
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    color: grey;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.75s; }
    .notice-model .close .material-icons {
      font-size: 30px; }
    .notice-model .close:hover {
      opacity: 1;
      transition: opacity 0.75s; }
  .notice-model .notice-header h2 {
    color: #0AC4B7;
    margin-bottom: 1%; }
  .notice-model .notice-header h1 {
    color: #C40E00;
    margin-top: 0;
    font-size: 2.8em; }
    @media screen and (max-width: 500px) {
      .notice-model .notice-header h1 {
        margin-bottom: 1%; } }
  .notice-model .notice-dialog {
    padding: 3%;
    border-radius: 5px;
    background: #ffe081;
    text-align: center; }
    .notice-model .notice-dialog * {
      margin: 1%; }
    .notice-model .notice-dialog h4 {
      color: #5C4500; }
  .notice-model .notice-body {
    margin-top: 20px; }
  .notice-model .notice-footer {
    margin-top: 5%; }
    .notice-model .notice-footer a {
      font-size: 0.9em;
      color: #4d4dff;
      display: block;
      transition: color 0.75s;
      font-weight: bold; }
      .notice-model .notice-footer a:hover {
        color: blue;
        transition: #000066 0.75s; }

.btn {
  box-shadow: 1px 1px 3px black;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin: 10px auto;
  background: #835167;
  padding: 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  transition: box-shadow 0.75s; }
  .btn:hover {
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 0.75s; }

.btn-blue {
  background: #F15658; }

.or-div {
  position: relative; }
  .or-div:before, .or-div:after {
    content: "";
    display: block;
    width: 42%;
    height: 3px;
    background: black;
    position: absolute;
    top: 50%;
    opacity: 0.3; }
  .or-div:before {
    left: 0; }
  .or-div:after {
    right: 0; }

.left {
  float: left; }

.right {
  float: right; }

/*# sourceMappingURL=index.css.map */
