$disk-color: darken(grey, 40%);
$main-color: #102E41;
$pale-color: lighten($main-color, 77%);
$count-text-color: lighten($main-color, 20%);
$count-num-color: lighten(#F4E456, 10%);

@font-face {
 	font-family: Cantora-One;
	src: url('../font/custom/CantoraOne-Regular.ttf');
}

@font-face {
 	font-family: Aleo-Regular;
	src: url('../font/custom/aleo-regular.ttf');
}



@mixin support-tag($tag, $params...) {
	-webkit-#{$tag}: $params;
  	-o-#{$tag}: $params;
  	-moz-#{$tag}: $params;
  	-ms-#{$tag}: $params;
  	#{$tag}: $params;
}

body {
	margin: 0;
	overflow-x: hidden;
}

main {
	position: relative;
}

%bottom-left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.mobile-bg {
	display: none;

	@media screen and (max-width: 420px) {
		display: block;
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: -1;
		background: url('../images/Cover Phone.jpg') 0 0 no-repeat;
		background-size: cover;
	}
}

#main {
	position: fixed;
	z-index: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: -5;
	top: 0;
	left: 0;

	@media screen and (max-width: 420px) {
		display: none;
	}



	.bg {
		@extend %bottom-left;
		width: 100%;
		height: 100%;
		z-index: -100;
		background: url('../images/animations/Sky.png');
	}

	.land {
		@extend %bottom-left;
		width: 100%;
		height: 30%;
		z-index: 10;
		background: url('../images/animations/Land.png') 0% 0 repeat-x;
		background-position-y: bottom;

		.lighthouse {
			@extend %bottom-left;
			height: 100%;
			width: 50%;
			bottom: 35px;
			background: url('../images/animations/Lighthouse.png') no-repeat;
			background-size: contain;
		}

		.tree {
			@extend %bottom-left;
			height: 40%;
			width: 30%;
			left: 20%;
			bottom: 35px;
			background: url('../images/animations/tree.png') no-repeat;
			background-size: contain;
		}

		.shop {
			@extend %bottom-left;
			height: 30%;
			width: 30%;
			left: 55%;
			bottom: 35px;
			background: url('../images/animations/Shop.png') no-repeat;
			background-size: contain;
		}

		.umbrella {
			@extend %bottom-left;
			height: 30%;
			width: 30%;
			left: 60%;
			bottom: 35px;
			background: url('../images/animations/Umbrella.png') no-repeat;
			background-size: contain;

			@media screen and (max-width: 1000px) {
				display: none;
			}
		}

		.tent {
			@extend %bottom-left;
			height: 30%;
			width: 30%;
			left: 65%;
			bottom: 35px;
			background: url('../images/animations/Tent.png') no-repeat;
			background-size: contain;
		}

		.ferrywheel {
			@extend %bottom-left;
			height: 80%;
			width: 50%;
			left: 70%;
			bottom: 35px;
			background: url('../images/animations/Ferry wheel.png') no-repeat;
			background-size: contain;
		}

		.icecream {
			@extend %bottom-left;
			height: 30%;
			width: 30%;
			left: 82%;
			bottom: 35px;
			background: url('../images/animations/Ice Cream.png') no-repeat;
			background-size: contain;

			@media screen and (max-width: 1000px) {
				display: none;
			}
		}

		.circus {
			@extend %bottom-left;
			height: 30%;
			width: 50%;
			bottom: 35px;
			left: unset;
			right: 0;
			background: url('../images/animations/Circus.png') no-repeat;
			background-size: contain;
			background-position: bottom right;

			@media screen and (max-width: 1000px) {
				display: none;
			}
		}
	}

	.waves {
		@extend %bottom-left;
		width: 100%;
		height: 25%;
		z-index: -10;

		.wave {
			position: absolute;
			width: 200%;
			// height: 100px;
			background: url('../images/animations/light waves.png') repeat-x;
			background-size: contain;
			// background-position: top left;

			&.light-blue {
				right: 0;
			}

			&.dark-blue {
				left: 0;
				background-image: url('../images/animations/dark waves.png');
			}

			&.wave1 {
				top: 55%;
				z-index: 0;
				height: 100px;
			}

			&.wave2 {
				top: 45%;
				z-index: -5;
				height: 80px;
			}

			&.wave3 {
				top: 35%;
				z-index: -10;
				height: 60px;
			}

			&.wave4 {
				top: 0;
				z-index: -15;
				height: 50px;
			}
		}
	}

	.air {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70%;
		z-index: -100;

		.cloud {
			background: url('../images/animations/Cloud 1.png') no-repeat;
			background-size: contain;
			position: absolute;
			width: 15%;
			height: 20%;
		}

		#cloud1 {
			background-image: url('../images/animations/Cloud 1.png');
			z-index: -30;
			height: 5%;
			top: 50%;
			left: 50%;
		}

		#cloud2 {
			background-image: url('../images/animations/Cloud 2.png');
			z-index: -20;
			height: 8%;
			top: 20%;
			left: 70%;
		}

		#cloud3 {
			background-image: url('../images/animations/Cloud 3.png');
			z-index: 0;
			top: 10%;
			height: 10%;
			left: 10%;
		}

		#cloud4 {
			background-image: url('../images/animations/Cloud 2.png');
			z-index: 0;
			top: 60%;
			height: 7%;
			left: 20%;
		}

		.airplane {
			position: absolute;
			top: 5%;
			height: 50%;
			width: 35%;
			left: 100%;
			background: url('../images/animations/Air Plane.png') no-repeat;
			background-size: contain;
		}

		.balloon1 {
			position: absolute;
			top: 10%;
			height: 10%;
			width: 10%;
			left: 55%;
			background: url('../images/animations/Balloon1.png') no-repeat;
			background-size: contain;
		}

		.balloon2 {
			position: absolute;
			top: 80%;
			height: 12%;
			width: 35%;
			left: 10%;
			background: url('../images/animations/Balloon2.png') no-repeat;
			background-size: contain;
		}
	}
}


#header {
	width: 100vw;
	height: 100vh;
	position: relative;

	.bg {
		position: absolute;
		width: 45%;
		height: 80%;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url("../images/carnival-bg.png") 0 0 no-repeat;
		background-size: contain;
		background-position: center center;

		@media screen and (max-width: 1000px) {
			width: 100%;
		}
	}

	.header-text {
		position: absolute;
		top: 40%;
		left: 50%;
		width: 20%;
		height: 23%;
		transform: translate(-50%, -50%);

		@media screen and (max-width: 1000px) {
			width: 50%;
			height: 20%;
		}

		@media screen and (max-width: 420px) {
			width: 50%;
			height: 15%;
		}

		svg {
			width: 100%;
			height: auto;

			g {
				fill: transparent;
				stroke: $main-color;
				stroke-width: 3;
				stroke-dasharray: 1000;
				stroke-dashoffset: 1000;
			}
		}
		// color: transparent;
	}

	.header-date {
		font-family: "Lobster", sans-serif;
		color: white;
		position: absolute;
		top: 52%;
		left: 50%;
		font-size: 1.75em;
		font-weight: bold;
		transform: translate(-50%, -50%);
		opacity: 0;

		@media screen and (max-width: 1000px) {
			top: 50%;
		}

		@media screen and (max-width: 420px) {
			font-size: 1.25em;
			top: 60%;
			color: #DE0028;
		}
	}

	.carnival-bg {
		position: absolute;
		width: 40%;
		height: 100%;
		top: 63%;
		left: 50%;
		transform: translate(-50%, -50%);

		svg {
			width: 100%;
			height: auto;
		}
	}
}

%number {
	text-align: center;
	position: relative;
	margin: 0 auto;

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	.digit {
		display: block;
		float: left;
		overflow: hidden;
		// background: linear-gradient(darken(grey, 30%) 20%, lighten(grey, 10%) 50%, darken(grey, 30%) 80%);
		// background:  $navbar-color;
		margin: 0;
		// border: 0 solid darken(grey, 70%);
		// border-width: 0px 2px;
		color: lighten($main-color, 70%);
		text-align: center;
		// text-shadow: 2px 2px 5px black;

		.frame0, .frame1 {
			position: relative;
			@include support-tag(box-sizing, border-box);
			// width: 100%;
			height: 100%;
			// padding: 5px 5px;
			font-size: 3em;
			// font-family: Helvetica;
		}
	}
}

#about {
	width: 100vw;
	// height: 115vh;
	// z-index: 5;
	// overflow: hidden;

	// background: url("../Pictures/beach_pic.jpg")  no-repeat;
	background-size: cover;
	z-index: 5;

	.timeline {

		width: 40%;
		height: 100vh;
		float: left;

		@media screen and (max-width: 1000px) {
			float: none;
			width: 100%;
		}

		@media screen and (max-width: 320px) {
			height: 100vh;
		}

		// background-color: white;

		.throttler {

			// width: 80%;
			// background:  $navbar-color;
			margin: 0 auto;
			position: relative;
			z-index: 0;
			// margin-top: 3%;
			// padding: 3;
			// padding-top: 3%;
			// border-bottom: 2px solid lighten($navbar-color, 70%);

			@media screen and (max-width: 1000px) {
				padding-top: 17%;
			}

			&:before{
				content: "";
				width: 14vw;
				height: 14vw;
				left: 10vw;
				top: 12vh;
				border-radius: 50%;
				border: 15vw solid $disk-color;
				@include support-tag(box-shadow, inset 0 0 20px black, 0 0 30px black);
				// background-color: $navbar-color;
				position: absolute;
				@include support-tag(transform, translate(-50%, -50%));
				// box-sizing: content-box;
				z-index: 7;

				@media screen and (max-width: 1000px) {
					border-width: 30vw;
					width: 28vw;
					height: 28vw;
					left: 19%;
					top: 48%;
				}

				@media screen and (max-width: 768px) {
					top: 52%;
				}

				@media screen and (max-width: 640px) {
					display: none;
				}
			}

			.timeline-year {

				@extend %number;
				width: 80%;
				z-index: 5;
				font-family: 'Arvo', serif;

				@media screen and (max-width: 1000px) {
					width: 85%;
				}
				// border: 20px solid darken($navbar-color, 10%);

				.digit {
					width: 3vw;
					height: 14vw;
					// padding: 3%;
					line-height: 3;
					font-weight: bold;
					color: $main-color;


					@media screen and (max-width: 1000px) {
						width: 6vw;
						height: 30vw;
						line-height: 4.5;
					}

					@media screen and (max-width: 640px) {
						display: none;
					}

					.frame0, .frame1 {
						font-size: 3.5em;
						@media screen and (max-width: 1000px) {
							font-size: 4em;
						}

						@media screen and (min-width: 1500px) {
							font-size: 4.5em;
						}
					}
				}

			}

			.content {
				padding: 2%;
				@include support-tag(box-sizing, border-box);
				margin: 0;
				line-height: 1.4;
				position: relative;
				width: 70%;
				height: 15vh;
				text-align: left;
				z-index: 10;
				// background-color: black;
				// color: $navbar-color;
				color: lighten($main-color, 70%);

				@media screen and (min-width: 1500px) {
					font-size: 1.6em;
				}

				@media screen and (max-width: 1000px) {
					width: 55%;
					font-size: 1.5em;
				}

				@media screen and (max-width: 640px) {
					color: $main-color;
					width: 70%;
					font-size: 1.25em;
				}

				@media screen and (max-width: 320px) {
					font-size: 1em;
				}
			}
		}

		.fest-count {
			float: left;
			position: relative;
			color: $main-color;
			margin-top: 20%;
			padding: 5%;

			@media screen and (max-width: 1000px) {
				margin-top: 15%;
			}

			@media screen and (max-width: 640px) {
				margin-top: 80%;
			}

			@media screen and (max-width: 400px) {
				margin-top: 70%;
			}


			.individ-fest-count {
				margin-bottom: 12%;
				position: relative;

				@media screen and (max-width: 1000px) {
					margin-bottom: 18%;
				}

				@media screen and (max-width: 640px) {
					margin-bottom: 15%;
				}

				.name {
					position: absolute;
					z-index: 5;
					top: -40%;
					color: $count-text-color;
					font-size: 1.5em;
					font-weight: bold;
					font-family: Cantora-One, serif;
					opacity: 0.9;

					@media screen and (min-width: 1500px) {
						font-size: 2em;
					}

					@media screen and (max-width: 1000px) {
						font-size: 3em;
						text-shadow: 0 0 3px $main-color;
					}

					@media screen and (max-width: 640px) {
						font-size: 1.5em;
					}

					@media screen and (max-width: 320px) {
						font-size: 1.2em;
					}
				}

				.number {
					position: relative;
					font-size: 2.5em;
					font-weight: bold;
					color: $count-num-color;
					text-shadow: darken($count-num-color, 40%) 1px 1px 1px;
					// opacity: 0.7;
					margin-left: 30%;
					font-family: Cantora-One, serif;

					@media screen and (min-width: 1500px) {
						font-size: 3.5em;
					}

					@media screen and (max-width: 1000px) {
						font-size: 4.5em;
					}

					@media screen and (max-width: 640px) {
						font-size: 2.5em;
					}

					@media screen and (max-width: 320px) {
						font-size: 2em;
					}

					&:after {
						content: "+";
						padding-left: 5%;
						color: lighten($count-text-color, 10%);
						opacity: 0.8;
					}
				}
			}
		}
	}

	.timeline-line {
		float: right;
		position: relative;
		list-style-type:  none;
		padding: 0;
		margin: 0;
		width: 30%;
		text-align: left;
		// background-color: $navbar-color;

		$timeline-color: lighten($main-color, 10%);

		li {
			padding-bottom: 10%;
			padding-left: 15%;
			// box-sizing: border-box;
			// margin-right: 20%;
			font-size: 1.75em;
			position: relative;
			color: $timeline-color;
			cursor: pointer;
			text-shadow: 1px 1px 2px black;
			font-family: 'Arvo', serif;
			@include support-tag(transition, all 0.5s);

			@media screen and (min-width: 1500px) {
				font-size: 2em;
				padding-bottom: 12%;
			}

			@media screen and (max-width: 1000px) {
				font-size: 2.5em;
				padding-bottom: 12%;
			}

			@media screen and (max-width: 640px) {
				font-size: 1.5em;
				padding-bottom: 15%;
			}

			@media screen and (max-width: 320px) {
				font-size: 1.3em;
				padding-bottom: 20%;
			}

			&:after {
				content: "";
				position: absolute;
				height: 200%;
				left: 0%;
				top: 0;
				border-right: 3px solid $timeline-color;
			}

			&:first-child{
				&:after {
					top: 25%;
				}
			}

			&:before {
				content: "";
				// border-radius: 50%;
				position: absolute;
				left: 0%;
				top: 25%;
				width: 10%;
				// transform: translate(-50%, 0%);
				border-top: 3px solid $timeline-color;
				@include support-tag(transition, width 0.5s);
				// width: 50px;
				// height: 50px;
				// z-index: 0;
			}

			&:hover {
				padding-left: 20%;
				@include support-tag(transition, all 0.5s);
			}

			&.active {
				color: $main-color;
				padding-left: 20%;
				font-size: 2em;

				@include support-tag(transition, all 0.5s);

				@media screen and (min-width: 1500px) {
					font-size: 2.5em;
				}

				@media screen and (max-width: 1000px) {
					font-size: 3.5em;
				}

				@media screen and (max-width: 640px) {
					font-size: 2em;
				}

				@media screen and (max-width: 320px) {
					font-size: 1.5em;
				}

				&:before {
					width: 15%;
					@include support-tag(transition, width 0.5s);
				}
			}

			.content {
				display: none;
			}

			@media screen and (max-width: 1000px) {
				&:after {
					height: 100%;
				}

				&:last-child {
					&:after {
						height: 25%;
					}
				}
			}
		}
	}

	$about-us-color: #FDFACF;

	.about-us {
		height: 105vh;
		width: 50vw;
		margin-right: 10vw;
		float: right;
		background-color: $pale-color;
		color: $main-color;
		text-align: justify;
		@include support-tag(box-sizing, border-box);
		padding: 3%;
		position: relative;
		@include support-tag(box-shadow, 0px 0px 30px $main-color);
		overflow: hidden;
		z-index: 5;

		@media screen and (max-width: 1000px) {
			float: none;
			height: 110vh;
			width: 100%;
			margin-right: 0;
		}


		h1 {
			position: relative;
			font-size: 2.5em;
			z-index: 15;
			text-align: center;
			font-family: Cantora-One, serif;

			&:before {
				content: "About";
				position: absolute;
				top: -155%;
				left: 35%;
				font-size: 3.3em;
				color: lighten($main-color, 70%);
				z-index: -5;
			}

			@media screen and (min-width: 1500px) {
				font-size: 3.5em;
			}

			@media screen and (max-width: 1000px) {
				margin-top: 10%;
				font-size: 4em;
			}

			@media screen and (max-width: 640px) {
				margin-top: 10%;
				font-size: 3em;
			}

			@media screen and (max-width: 400px) {
				margin-top: 20%;
				font-size: 2em;
			}
		}

		p {
			position: relative;
			padding: 2%;
			line-height: 1.7;
			z-index: 15;

			@media screen and (min-width: 1500px) {
				font-size: 1.4em;
			}

			@media screen and (max-width: 1000px) {
				font-size: 1.25em;
				padding-right: 4%;
			}

			@media screen and (max-width: 640px) {
				font-size: 1.15em;
			}


			@media screen and (max-width: 400px) {
				font-size: 0.85em;
				margin-top: 1%;
				padding: 3%;
				padding-right: 5%;
			}

			@media screen and (max-height: 500px) {
				font-size: 0.8em;
			}
		}

		.icon {
			position: absolute;
			top: 20%;
			left: 15%;
			@include support-tag(transform, scale(1.3, 1.3));
			fill: lighten($main-color, 70%);
			z-index: 0;
		}
	}

	.about-footer {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 1%;
		background: lighten($main-color, 70%);

		.position {
			float: left;
			font-size: 80%;
			width: 50%;
			text-align: left;

			h4, p{
				margin: 1%;
				padding: 0;
			}

			&:last-child {
				float: right;
				text-align: right;
			}
		}
	}
}

.scrollmagic-pin-spacer {
	#about {
		top: 0px !important;
	}
}

#footer {
	position: absolute;
	bottom: 0;
	margin-top: 10px;
	background: $main-color;
	width: 100vw;
	box-sizing: border-box;
	padding: 1%;

	.content {
		float: left;
		width: 30%;
		color: $pale-color;

		h3, h4 {
			margin: 0;
		}

		&.float-right {
			float: right;
		}
	}
}

.notice-model {
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	width: 40%;
	background: white;
	border-radius: 5px;
	padding: 3%;
	padding-bottom: 1%;
	transform: translate(-50%, -50%);
	font-family: "Montserrat", sans-serif;
	z-index: 500;
	box-shadow: 1px 1px 3px transparentize(black, 0.5);

	@media screen and (max-width: 500px) {
		width: 80%;
		padding: 5%;
	}

	.close {
		position: absolute;
		top: 1.5%;
		right: 1.5%;
		color: grey;
		font-weight: bold;
		opacity: 0.5;
		transition: opacity 0.75s;

		.material-icons {
			font-size: 30px;
		}

		&:hover {
			opacity: 1;
			transition: opacity 0.75s;
		}
	}

	.notice-header {
		h2 {
			color: #0AC4B7;
			margin-bottom: 1%;
		}

		h1 {
			color: #C40E00;
			margin-top: 0;
			font-size: 2.8em;

			@media screen and (max-width: 500px) {
				margin-bottom: 1%;
			}
		}
	}

	.notice-dialog {
		padding: 3%;
		border-radius: 5px;
		background: lighten(#FFD44E, 10%);
		text-align: center;

		* {
			margin: 1%;
		}

		h4 {
			color: #5C4500;
		}
	}

	.notice-body {
		margin-top: 20px;
	}

	.notice-footer {
		margin-top: 5%;

		a {
			font-size: 0.9em;
			color: lighten(blue, 15%);
			display: block;
			transition: color 0.75s;
			font-weight: bold;

			&:hover {
				color: blue;
				transition: darken(blue, 30%) 0.75s;
			}
		}
	}
}

.btn {
	box-shadow: 1px 1px 3px black;
	border-radius: 3px;
	display: block;
	width: 100%;
	margin: 10px auto;
	background: #835167;
	padding: 8px;
	box-sizing: border-box;
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	transition: box-shadow 0.75s;

	&:hover {
		box-shadow: 2px 2px 5px black;
		transition: box-shadow 0.75s;
	}
}

.btn-blue {
	background: #F15658;
}

.or-div {
	position: relative;


	&:before, &:after {
		content: "";
		display: block;
		width: 42%;
		height: 3px;
		background: black;
		position: absolute;
		top: 50%;
		opacity: 0.3;
	}


	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}

.left {
	float: left;
}

.right {
	float: right;
}