.loader-wrapper {
	position: fixed;
	overflow: hidden;
	z-index: 15000;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: lighten(#0000DD, 50%);

	.loader {
		position: absolute;
		width: 40vw;
		height: 40vw;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@media screen and (max-width: 420px) {
			width: 85vw;
			height: 85vw;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}
}

#Pentagon {
	path {
		stroke-dasharray: 2000;
		stroke-dashoffset: 2000;
	}
}

#Logo path {
	opacity: 0;
}