$active-color: #462F8A;

.menu-btn {
	position: fixed;
	width: 50px;
	height: 50px;
	background: $active-color;
	border-radius: 50%;
	z-index: 1005;
	top: 20px;
	left: 20px;
	cursor: pointer;

	.menu-bar {
		position: absolute;
		height: 3px;
		width: 60%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0%);
		border-radius: 5% / 50%;
		background: lighten($active-color, 55%);
		overflow: hidden;
		transition: all 0.75s;

		&:before {
			position: absolute;
			display: block;
			content: "";
			width: 0%;
			height: 100%;
			left: 0;
			background: lighten($active-color, 40%);
			transition: width 0.75s;
		}

		&:first-child {
			top: 35%;
		}

		&:last-child {
			top: 65%;
		}
	}

	&.close {
		.menu-bar {
			top: 50%;
			transition: all 0.75s;

			&:first-child {
				transform: translate(-50%, 0%) rotate(-45deg);
			}

			&:nth-child(2) {
				width: 0;
			}

			&:last-child {
				transform: translate(-50%, 0%) rotate(45deg);
			}
		}
	}

	&:hover {
		.menu-bar {

			&:before {
				width: 100%;
				transition: width 0.75s 0.15s;
			}

			&:first-child:before {
				transition: width 0.75s ;
			}

			&:last-child:before {
				transition: width 0.75s 0.3s;
			}
		}
	}
}

.menu {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: -105%;
	background: lighten($active-color, 60%);
	z-index: 1000;
	box-sizing: border-box;
	transition: all 1.25s ease-out;

	&.close {
		left: 0%;
		transition: all 1.25s ease-out;
	}

	.menu-left {
		width: 80%;
		height: 100%;
		box-sizing: border-box;
		// background: transparentize(black, 0.7);
		float: left;

		@media screen and (max-width: 800px) {
			width: 75%;
		}

		@media screen and (max-width: 420px) {
			width: 100%;
			height: 80vh;
			padding-top: 30px;
		}


		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			overflow-y: auto;

			li {
				width: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 2.5em;

				@media screen and (max-width: 800px) {
					font-size: 2em;
				}

				@media screen and (max-width: 420px) {
					width: 100%;
					font-size: 1.25em;
				}

				$actual-color: lighten(#462F8A, 45%);

				a {
					position: relative;
					// display: block;
					font-family: "Lobster", Helvetica;
					color: $actual-color;
					text-decoration: none;
					z-index: 0;

					&:after {
						position: absolute;
						z-index: 1;
						display: block;
						overflow: hidden;
						width: 0%;
						height: 100%;
						top: 0;
						left: 0;
						content: attr(data-value);
						color: $active-color;
						transition: width 1s;
						white-space: nowrap;
					}

					&:hover:after {
						width: 100%;
						transition: width 1s;
					}
				}

				&.active {
					a {
						color: $active-color;

						&:after {
							display: block;
							content: "";
							position: absolute;
							top: 100%;
							height: 5px;
							background: $active-color;
							width: 110%;
							left: 50%;
							transform: translate(-50%, 0);
						}
					}
				}
			}
		}
	}

	.menu-right {
		width: 20%;
		height: 100%;
		box-sizing: border-box;
		position: relative;	
		// background: transparentize(black, 0.5);
		float: right;

		&:before {
			position: absolute;
			content: "";
			background: transparentize(grey, 0.7);
			width: 5px;
			height: 80%;
			left: 0;
			top: 50%;
			transform: translate(0, -50%);
		}

		@media screen and (max-width: 800px) {
			width: 25%;
		}

		@media screen and (max-width: 420px) {
			width: 100%;
			position: absolute;
			bottom: 0;
			height: 20%;

			&:before {
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				width: 80%;
				height: 5px;
			}
		}

		h1 {
			font-family: "Lobster", Helvetica;
			text-align: center;
			color: $active-color;
			font-size: 2em;

			@media screen and (max-width: 420px) {
				display: none;
			}
		}

		.links {
			display: flex;
			flex-direction: column;

			@media screen and (max-width: 420px) {
				flex-direction: row;
				margin-top: 10px;
			}
		}

		.link {
			width: 80%;
			height: 40px;
			margin: 0 auto;
			position: relative;
			z-index: 0;
			display: flex;
			align-items: center;
			justify-content: stretch;
			padding: 5px;
			box-sizing: border-box;
			margin-bottom: 10px;
			text-decoration: none;

			@media screen and (max-width: 420px) {
				width: 40%;
				height: 30px;
			}

			p {
				font-family: "Open Sans", sans-serif;
				text-align: center;
				margin: 0;
				font-weight: bold;
				flex-grow: 1;
				color: white;

				@media screen and (max-width: 420px) {
					font-size: 3.5vw;
				}
			}

			.icon {
				width: 35px;
				height: 35px;
				transition: transform 1s;

				@media screen and (max-width: 420px) {
					width: 25px;
					height: 25px;
				}
				// display: inline-block;
				// float: left;
			}

			.bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
			}

			&:hover {
				.icon {
					transform: rotate(360deg);
					transition: transform 1s;
				}
			}
		}

		p {
			margin: 5%;
			font-family: "Open Sans", sans-serif;

			@media screen and (max-width: 420px) {
				margin: 2%;
				margin-top: 0;
			}
		}

		.social-link {
			display: block;
			position: relative;
			width: 50px;
			height: 50px;
			margin: auto;
			border-radius: 50%;
			overflow: hidden;
			margin-bottom: 10%;
			transition: transform 0.65s;
			// transition: transform 1s;

			@media screen and (max-width: 420px) {
				float: left;
				width: 30px;
				height: 30px;
				margin: 0 3%;
			}

			img {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 70%;
				height: 70%;
				border-radius: 50%;
				// transform-origin: 50% 50%;
				transform: translate(-50%, -50%);
				// transition: transform 0.65s;
			}

			.bg {
				width: 100%;
				height: 100%;
			}

			&:hover {
				transform: rotate(360deg);
				transition: transform 1s;
			}
		}
	}
}