.menu-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #462F8A;
  border-radius: 50%;
  z-index: 1005;
  top: 20px;
  left: 20px;
  cursor: pointer; }
  .menu-btn .menu-bar {
    position: absolute;
    height: 3px;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 5% / 50%;
    background: #e3def4;
    overflow: hidden;
    transition: all 0.75s; }
    .menu-btn .menu-bar:before {
      position: absolute;
      display: block;
      content: "";
      width: 0%;
      height: 100%;
      left: 0;
      background: #b4a5e0;
      transition: width 0.75s; }
    .menu-btn .menu-bar:first-child {
      top: 35%; }
    .menu-btn .menu-bar:last-child {
      top: 65%; }
  .menu-btn.close .menu-bar {
    top: 50%;
    transition: all 0.75s; }
    .menu-btn.close .menu-bar:first-child {
      transform: translate(-50%, 0%) rotate(-45deg); }
    .menu-btn.close .menu-bar:nth-child(2) {
      width: 0; }
    .menu-btn.close .menu-bar:last-child {
      transform: translate(-50%, 0%) rotate(45deg); }
  .menu-btn:hover .menu-bar:before {
    width: 100%;
    transition: width 0.75s 0.15s; }
  .menu-btn:hover .menu-bar:first-child:before {
    transition: width 0.75s; }
  .menu-btn:hover .menu-bar:last-child:before {
    transition: width 0.75s 0.3s; }

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: -105%;
  background: #f3f1fa;
  z-index: 1000;
  box-sizing: border-box;
  transition: all 1.25s ease-out; }
  .menu.close {
    left: 0%;
    transition: all 1.25s ease-out; }
  .menu .menu-left {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    float: left; }
    @media screen and (max-width: 800px) {
      .menu .menu-left {
        width: 75%; } }
    @media screen and (max-width: 420px) {
      .menu .menu-left {
        width: 100%;
        height: 80vh;
        padding-top: 30px; } }
    .menu .menu-left ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      overflow-y: auto; }
      .menu .menu-left ul li {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em; }
        @media screen and (max-width: 800px) {
          .menu .menu-left ul li {
            font-size: 2em; } }
        @media screen and (max-width: 420px) {
          .menu .menu-left ul li {
            width: 100%;
            font-size: 1.25em; } }
        .menu .menu-left ul li a {
          position: relative;
          font-family: "Lobster", Helvetica;
          color: #c4b8e7;
          text-decoration: none;
          z-index: 0; }
          .menu .menu-left ul li a:after {
            position: absolute;
            z-index: 1;
            display: block;
            overflow: hidden;
            width: 0%;
            height: 100%;
            top: 0;
            left: 0;
            content: attr(data-value);
            color: #462F8A;
            transition: width 1s;
            white-space: nowrap; }
          .menu .menu-left ul li a:hover:after {
            width: 100%;
            transition: width 1s; }
        .menu .menu-left ul li.active a {
          color: #462F8A; }
          .menu .menu-left ul li.active a:after {
            display: block;
            content: "";
            position: absolute;
            top: 100%;
            height: 5px;
            background: #462F8A;
            width: 110%;
            left: 50%;
            transform: translate(-50%, 0); }
  .menu .menu-right {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    float: right; }
    .menu .menu-right:before {
      position: absolute;
      content: "";
      background: rgba(128, 128, 128, 0.3);
      width: 5px;
      height: 80%;
      left: 0;
      top: 50%;
      transform: translate(0, -50%); }
    @media screen and (max-width: 800px) {
      .menu .menu-right {
        width: 25%; } }
    @media screen and (max-width: 420px) {
      .menu .menu-right {
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 20%; }
        .menu .menu-right:before {
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          width: 80%;
          height: 5px; } }
    .menu .menu-right h1 {
      font-family: "Lobster", Helvetica;
      text-align: center;
      color: #462F8A;
      font-size: 2em; }
      @media screen and (max-width: 420px) {
        .menu .menu-right h1 {
          display: none; } }
    .menu .menu-right .links {
      display: flex;
      flex-direction: column; }
      @media screen and (max-width: 420px) {
        .menu .menu-right .links {
          flex-direction: row;
          margin-top: 10px; } }
    .menu .menu-right .link {
      width: 80%;
      height: 40px;
      margin: 0 auto;
      position: relative;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: stretch;
      padding: 5px;
      box-sizing: border-box;
      margin-bottom: 10px;
      text-decoration: none; }
      @media screen and (max-width: 420px) {
        .menu .menu-right .link {
          width: 40%;
          height: 30px; } }
      .menu .menu-right .link p {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        margin: 0;
        font-weight: bold;
        flex-grow: 1;
        color: white; }
        @media screen and (max-width: 420px) {
          .menu .menu-right .link p {
            font-size: 3.5vw; } }
      .menu .menu-right .link .icon {
        width: 35px;
        height: 35px;
        transition: transform 1s; }
        @media screen and (max-width: 420px) {
          .menu .menu-right .link .icon {
            width: 25px;
            height: 25px; } }
      .menu .menu-right .link .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; }
      .menu .menu-right .link:hover .icon {
        transform: rotate(360deg);
        transition: transform 1s; }
    .menu .menu-right p {
      margin: 5%;
      font-family: "Open Sans", sans-serif; }
      @media screen and (max-width: 420px) {
        .menu .menu-right p {
          margin: 2%;
          margin-top: 0; } }
    .menu .menu-right .social-link {
      display: block;
      position: relative;
      width: 50px;
      height: 50px;
      margin: auto;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 10%;
      transition: transform 0.65s; }
      @media screen and (max-width: 420px) {
        .menu .menu-right .social-link {
          float: left;
          width: 30px;
          height: 30px;
          margin: 0 3%; } }
      .menu .menu-right .social-link img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        transform: translate(-50%, -50%); }
      .menu .menu-right .social-link .bg {
        width: 100%;
        height: 100%; }
      .menu .menu-right .social-link:hover {
        transform: rotate(360deg);
        transition: transform 1s; }

/*# sourceMappingURL=menu.css.map */
