$bg-color: #f3e5f5;

main {
	width: 100vw;
	height: 100vh;
	position: relative;
	background: $bg-color;
	overflow-x: hidden;
}


.img-wrapper {
	position: relative;
	margin: 0 auto;
	padding-top: 5%;
	// bottom: 20%;
	width: 35%;

	&.small-img {
		width: 20%;
	}

	@media screen and (max-width: 1000px) {
		width: 50%;

		&.small-img {
			width: 60%;
		}
	}

	@media screen and (max-width: 420px) {
		width: 80%;
		padding-top: 20%;

		&.small-img {
			width: 50%;
		}
	}
}

h4 {
	font-family: "Lobster", Helvetica;
	margin: 2%;
}

.form-wrapper {
	margin: 0 auto;
	box-sizing: border-box;
	width: 40%;
	padding: 3%;

	&.form-large {
		width: 75%;
	}

	&.no-padding {
		padding: 0;
	}

	.error {
		color: red;
	}

	@media screen and (max-width: 1000px) {
		width: 60%;
		&.no-padding {
			padding: 0;
		}
	}

	@media screen and (max-width: 420px) {
		width: 100%;
		padding: 10%;

		&.form-large {
			width: 100%;
		}

		&.no-padding {
			padding: 0;
		}
	}

	.button-wrapper {
		box-sizing: border-box;
		padding: 2%;
		padding-top: 8%;
		position: relative;
		border: 2px solid transparentize(grey, 0.4);

		&:nth-child(2) {
			margin-top: 5px;
		}

		&:before {
			display: block;
			content: attr(data-wrapper);
			position: absolute;
			top: 0;
			left: 50%;
			width: 70%;
			text-align: center;
			transform: translate(-50%, -50%);
			background: $bg-color;
			padding: 5%;
		}

		.btn {
			width: 100%;
			font-weight: 500;
			margin-bottom: 5px;
		}
	}

	.register-btn {
		margin: 5% auto;
		width: 75%;
		display: block;
	}

	.side-link {
		display: block;
		text-decoration: none;
		color: darken($bg-color, 50%);
		float: right;

		&:hover {
			text-decoration: underline;
		}

		&.float-left {
			float: left;
		}
	}
}

.card {

	&.large {
		height: 550px;
	}

	.card-content {
		position: relative;

		.bg {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 45%;
			height: auto;
			opacity: 0.3;
			transform: translate(-50%, -50%);
		}

		.col:nth-child(2) {
			position: relative;

			&:after {
				display: block;
				content: "";
				width: 3px;
				height: 80%;
				top: 50%;
				left: 0;
				background: darken($bg-color, 40%);
				transform: translate(0, -50%);
				position: absolute;
			}
		}
	}

	.card-id {
		position: relative;
		font-size: 1.5em;
		text-align: center;
		color: darken($bg-color, 60%) !important;
		font-weight: 500;
		padding-bottom: 10px;
		margin-bottom: 10px !important;

		&:after {
			display: block;
			content: "";
			position: absolute;
			height: 3px;
			width: 75%;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0);
			background: darken($bg-color, 10%);
		}
	}

	label {
		color: darken($bg-color, 40%);

		&:after {
			content: " ";
		}
	}

	.notice {
		position: absolute;
		bottom: 1%;
		right: 1%;
	}
}

.toast-content {
	display: none;
}

.participants-ids {

	.row {
		margin-bottom: 0;
	}

	label {
		position: relative;
	}
}

.collapsible {
	.collapsible-header {
		font-weight: bold;
		// font-size: 105%;
		// padding: 1%;
		color: darken($bg-color, 60%);
	}

	.collapsible-body {
		background: lighten($bg-color, 2%);
		position: relative;

		&:before {
			position: absolute;
			display: block;
			content: "";
			height: 100%;
			width: 5px;
			left: 0;
			top: 0;
			background: darken($bg-color, 60%);
		}
	}
}

.contact {
	font-size: 120%;
}

.nestaway-widget {
	.nestaway-btn {
		padding: 10px;
		line-height: 1;
		width: 100%;
		box-sizing: border-box;
	}

	.widget {
		margin-top: 5%;

		img {
			margin-top: 15px;
		}
	}
}