main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #f3e5f5;
  overflow-x: hidden; }

.img-wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 5%;
  width: 35%; }
  .img-wrapper.small-img {
    width: 20%; }
  @media screen and (max-width: 1000px) {
    .img-wrapper {
      width: 50%; }
      .img-wrapper.small-img {
        width: 60%; } }
  @media screen and (max-width: 420px) {
    .img-wrapper {
      width: 80%;
      padding-top: 20%; }
      .img-wrapper.small-img {
        width: 50%; } }

h4 {
  font-family: "Lobster", Helvetica;
  margin: 2%; }

.form-wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 40%;
  padding: 3%; }
  .form-wrapper.form-large {
    width: 75%; }
  .form-wrapper.no-padding {
    padding: 0; }
  .form-wrapper .error {
    color: red; }
  @media screen and (max-width: 1000px) {
    .form-wrapper {
      width: 60%; }
      .form-wrapper.no-padding {
        padding: 0; } }
  @media screen and (max-width: 420px) {
    .form-wrapper {
      width: 100%;
      padding: 10%; }
      .form-wrapper.form-large {
        width: 100%; }
      .form-wrapper.no-padding {
        padding: 0; } }
  .form-wrapper .button-wrapper {
    box-sizing: border-box;
    padding: 2%;
    padding-top: 8%;
    position: relative;
    border: 2px solid rgba(128, 128, 128, 0.6); }
    .form-wrapper .button-wrapper:nth-child(2) {
      margin-top: 5px; }
    .form-wrapper .button-wrapper:before {
      display: block;
      content: attr(data-wrapper);
      position: absolute;
      top: 0;
      left: 50%;
      width: 70%;
      text-align: center;
      transform: translate(-50%, -50%);
      background: #f3e5f5;
      padding: 5%; }
    .form-wrapper .button-wrapper .btn {
      width: 100%;
      font-weight: 500;
      margin-bottom: 5px; }
  .form-wrapper .register-btn {
    margin: 5% auto;
    width: 75%;
    display: block; }
  .form-wrapper .side-link {
    display: block;
    text-decoration: none;
    color: #923d9e;
    float: right; }
    .form-wrapper .side-link:hover {
      text-decoration: underline; }
    .form-wrapper .side-link.float-left {
      float: left; }

.card.large {
  height: 550px; }
.card .card-content {
  position: relative; }
  .card .card-content .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45%;
    height: auto;
    opacity: 0.3;
    transform: translate(-50%, -50%); }
  .card .card-content .col:nth-child(2) {
    position: relative; }
    .card .card-content .col:nth-child(2):after {
      display: block;
      content: "";
      width: 3px;
      height: 80%;
      top: 50%;
      left: 0;
      background: #af52bc;
      transform: translate(0, -50%);
      position: absolute; }
.card .card-id {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  color: #702f79 !important;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 10px !important; }
  .card .card-id:after {
    display: block;
    content: "";
    position: absolute;
    height: 3px;
    width: 75%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    background: #e2c0e7; }
.card label {
  color: #af52bc; }
  .card label:after {
    content: " "; }
.card .notice {
  position: absolute;
  bottom: 1%;
  right: 1%; }

.toast-content {
  display: none; }

.participants-ids .row {
  margin-bottom: 0; }
.participants-ids label {
  position: relative; }

.collapsible .collapsible-header {
  font-weight: bold;
  color: #702f79; }
.collapsible .collapsible-body {
  background: #f6ecf8;
  position: relative; }
  .collapsible .collapsible-body:before {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
    background: #702f79; }

.contact {
  font-size: 120%; }

.nestaway-widget .nestaway-btn {
  padding: 10px;
  line-height: 1;
  width: 100%;
  box-sizing: border-box; }
.nestaway-widget .widget {
  margin-top: 5%; }
  .nestaway-widget .widget img {
    margin-top: 15px; }

/*# sourceMappingURL=portal-index.css.map */
