.events .event:nth-child(1) h1 {
  color: #E51321; }
  .events .event:nth-child(1) h1 label {
    color: rgba(229, 19, 33, 0.8); }
.events .event:nth-child(2) h1 {
  color: #C9D0DC; }
  .events .event:nth-child(2) h1 label {
    color: rgba(201, 208, 220, 0.8); }
.events .event:nth-child(3) h1 {
  color: #f5ecdd; }
  .events .event:nth-child(3) h1 label {
    color: rgba(245, 236, 221, 0.8); }
.events .event:nth-child(4) h1 {
  color: #e7e0d8; }
  .events .event:nth-child(4) h1 label {
    color: rgba(231, 224, 216, 0.8); }
.events .event:nth-child(5) h1 {
  color: #C8D9EC; }
  .events .event:nth-child(5) h1 label {
    color: rgba(200, 217, 236, 0.8); }
.events .event:nth-child(6) h1 {
  color: #BBBADC; }
  .events .event:nth-child(6) h1 label {
    color: rgba(187, 186, 220, 0.8); }
.events .event:nth-child(7) h1 {
  color: #72413f; }
  .events .event:nth-child(7) h1 label {
    color: rgba(114, 65, 63, 0.8); }
.events .event:nth-child(8) h1 {
  color: #D3CB00; }
  .events .event:nth-child(8) h1 label {
    color: rgba(211, 203, 0, 0.8); }

.event h1 {
  text-align: center;
  font-size: 4em;
  width: 80%; }
  .event h1 label {
    font-size: 0.3em;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .event h1 label a {
      display: inline-block;
      margin-left: 10px;
      width: 120px; }
      .event h1 label a img {
        width: 100%;
        height: auto; }

.event .more-details .right-half {
  width: 60%;
  background: none;
  text-align: center;
  text-shadow: none; }
  @media screen and (max-width: 1000px) {
    .event .more-details .right-half {
      width: 100%; } }
  .event .more-details .right-half .date, .event .more-details .right-half .book-ticket {
    margin: 2%;
    text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 3px;
    float: left;
    font-size: 1.3em;
    font-weight: bold; }
    @media screen and (max-width: 500px) {
      .event .more-details .right-half .date, .event .more-details .right-half .book-ticket {
        width: 80%;
        float: none;
        margin: 2% auto;
        text-align: center;
        font-size: 1.5em; } }
  .event .more-details .right-half .book-ticket {
    float: right; }
    @media screen and (max-width: 500px) {
      .event .more-details .right-half .book-ticket {
        float: none; } }
.event .more-details .playlist {
  text-align: center;
  overflow: auto;
  height: 90%;
  width: 25%;
  margin-top: 1%;
  margin-left: 5%;
  box-sizing: border-box;
  float: left;
  padding: 1% 4%;
  border-radius: 8px;
  background: rgba(128, 128, 128, 0.3); }
  @media screen and (max-width: 1000px) {
    .event .more-details .playlist {
      width: 80%;
      float: none;
      margin: auto;
      margin-top: 30px;
      height: auto; } }
  @media screen and (max-width: 500px) {
    .event .more-details .playlist {
      width: 90%; } }
  .event .more-details .playlist h2 {
    margin-top: 1%;
    margin-bottom: 30px;
    position: relative; }
    .event .more-details .playlist h2:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30%;
      left: 50%;
      width: 100%;
      height: 4px;
      border-radius: 15px / 10px;
      transform: translate(-50%, 0);
      background: black;
      opacity: 0.5; }

.song {
  font-size: 100%;
  text-align: left; }
  .song .material-icons {
    font-size: 120%;
    transition: all 0.75s; }
  .song a {
    color: white;
    vertical-align: middle;
    text-decoration: none;
    transition: all 0.75s; }
    .song a:hover {
      text-decoration: underline; }
  .song:hover .material-icons, .song:hover a {
    color: #d9d9d9;
    transition: all 0.75s; }
  @media screen and (min-width: 500px) {
    .song.active a, .song.active .material-icons {
      color: #ff4d4d; } }

.item {
  display: inline-block;
  font-size: 150%;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 3px;
  margin: 15px; }
  .item .material-icons {
    font-size: 150%; }
  .item a {
    text-decoration: none;
    color: white;
    vertical-align: middle; }
    .item a:hover {
      text-decoration: underline; }

.frame-fit {
  border: none;
  display: block;
  width: 80%;
  margin: auto;
  height: 280px; }
  @media screen and (max-width: 500px) {
    .frame-fit {
      display: none; } }

.more-link {
  text-align: right; }

.sponsor-link {
  display: block;
  font-size: 200%; }
  .sponsor-link img {
    width: 100%;
    height: auto; }

.book-ticket a {
  display: block;
  font-size: 0.85em;
  padding: 5px 10px;
  border: 3px solid white;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  transition: all 0.75s; }
  .book-ticket a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
    transition: all 0.75s; }

/*# sourceMappingURL=proshows.css.map */
