.events {

	$colors: #E51321, #C9D0DC, #f5ecdd, lighten(#987B5B, 40%), #C8D9EC, #BBBADC, #72413f, #D3CB00;

	.event {

		@for $i from 1 through 8 {

			&:nth-child(#{$i}) {

				$color: nth($colors, $i);
				h1 {
					color: $color;
					label {
						color: transparentize($color, 0.2);
					}
				}
			}
		}
	}
}

.event h1 {
	text-align: center;
	font-size: 4em;
	width: 80%;

	label {
		font-size: 0.3em;
		display: inline-flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;

		a {
			// height: 50px;
			display: inline-block;
			margin-left: 10px;
			width: 120px;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}


.event .more-details {
	.right-half{
		width: 60%;
		// padding: 2%;
		background: none;
		text-align: center;
		text-shadow: none;

		@media screen and (max-width: 1000px) {
			width: 100%;
		}

		.date, .book-ticket {
			margin: 2%;
			text-shadow: transparentize(black, 0.3) 1px 1px 3px;
			float: left;
			font-size: 1.3em;
			font-weight: bold;

			@media screen and (max-width: 500px) {
				width: 80%;
				float: none;
				margin: 2% auto;
				text-align: center;
				font-size: 1.5em;
			}
		}

		.book-ticket {
			float: right;

			@media screen and (max-width: 500px) {
				float: none;
			}
		}
	}

	.playlist {
		text-align: center;
		overflow: auto;
		height: 90%;
		width: 25%;
		margin-top: 1%;
		margin-left: 5%;
		box-sizing: border-box;
		float: left;
		padding: 1% 4%;
		border-radius: 8px;
		background: transparentize(grey, 0.7);

		@media screen and (max-width: 1000px) {
			width: 80%;
			float: none;
			margin: auto;
			margin-top: 30px;
			height: auto;
		}

		@media screen and (max-width: 500px) {
			width: 90%;
		}

		h2 {
			margin-top: 1%;
			margin-bottom: 30px;
			position: relative;

			&:after {
				content: "";
				display: block;
				position: absolute;
				bottom: -30%;
				left: 50%;
				width: 100%;
				height: 4px;
				border-radius: 15px / 10px;
				transform: translate(-50%, 0);
				background: black;
				opacity: 0.5;
			}
		}
	}
}

.song {
	font-size: 100%;
	text-align: left;

	.material-icons {
		font-size: 120%;
		transition: all 0.75s;
	}

	a {
		color: white;
		vertical-align: middle;
		text-decoration: none;
		transition: all 0.75s;

		&:hover {
			text-decoration: underline;
		}
	}



	&:hover {
		.material-icons, a {
			color: lighten(grey, 35%);
			transition: all 0.75s;
		}
	}

	@media screen and (min-width: 500px) {
		&.active {
			a, .material-icons {
				color: lighten(red, 15%);
			}
		}
	}
}

.item {
	display: inline-block;
	font-size: 150%;
	text-shadow: transparentize(black, 0.3) 1px 1px 3px;
	margin: 15px;

	.material-icons {
		font-size: 150%;
	}

	a {
		text-decoration: none;
		color: white;
		vertical-align: middle;

		&:hover {
			text-decoration: underline;
		}
	}
}

.frame-fit {
	border: none;
	display: block;
	width: 80%;
	margin: auto;
	height: 280px;

	@media screen and (max-width: 500px) {
		display: none;
	}
}

.more-link {
	text-align: right;
}

.sponsor-link {
	display: block;
	font-size: 200%;

	img {
		width: 100%;
		height: auto;
	}
}

.book-ticket {
	a {
		display: block;
		font-size: 0.85em;
		padding: 5px 10px;
		border: 3px solid white;
		border-radius: 3px;
		color: white;
		text-decoration: none;
		transition: all 0.75s;

		&:hover {
			background: transparentize(white, 0.2);
			color: black;
			transition: all 0.75s;

		}
	}
}