@font-face {
  font-family: StellarLight;
  src: url("../font/custom/Stellar-light.otf"); }
body {
  background-image: url("../images/background-pattern.png");
  background-color: rgba(200, 200, 200, 0.1);
  background-size: 300px;
  background-attachment: fixed; }

.main {
  margin-top: 3%;
  overflow: hidden;
  position: relative; }
  .main * {
    display: block; }

.background .logo {
  position: fixed;
  height: 200%;
  top: -260px;
  left: -620px;
  z-index: -10;
  -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5)); }

.row a {
  display: block;
  margin: auto;
  width: 70%; }
  .row a img {
    width: 100%;
    height: auto; }

.sponsors {
  position: relative; }

h2 {
  font-weight: thin;
  font-family: StellarLight; }
  @media screen and (max-width: 500px) {
    h2 {
      font-size: 220%; } }

.row {
  margin-bottom: 5%; }

@media screen and (min-width: 1500px) {
  .background .logo {
    top: -35%;
    left: -45%; } }
@media all and (max-height: 620px) {
  .background .logo {
    left: 0;
    right: 0;
    opacity: 0.7; } }
.title {
  text-align: center;
  font-family: StellarLight;
  font-size: 400%;
  margin: 5% 0;
  font-weight: bold;
  color: #4C5893; }
  @media screen and (max-width: 500px) {
    .title {
      margin-top: 20%; } }

/*# sourceMappingURL=sponsors.css.map */
